[2015-10-21 08:58] sinchi opened #1 "express-fileupload"
Hello
i have an issue with express-fileupload  module when i upload the file , i receive a empty file with 0 octet !!

[2016-03-13 03:55] richardgirges commented on #1
@sinchi can you provide steps on how I can reproduce this issue?

[2016-03-28 07:58] afcastano opened #2 "Can not save the file, pipe is undefined"
Hi, after the upload completes, I try to save the file according to your example using the `mv` function but I always get this exception:

TypeError: this.data.pipe is not a function
    at Object.req.files.(anonymous function).mv (/Users/pam/Documents/pipe/server-file-browser/node_modules/express-fileupload/jslib/index.js:40:25)
    at Object.saveSubtitle (/Users/pam/Documents/pipe/server-file-br

[2016-03-30 19:51] DejvoVIII opened #3 "Can't upload multiple files at the same time"
or i don't know how to do it

[2016-04-11 18:02] skotturi commented on #2
Same error here:

[code]

Running
node : `4.4.2`
express: `4.13.4`
express-fileupload : `0.0.4`

[2016-04-15 07:45] pajtai commented on #2
Think this closes it: https://github.com/richardgirges/express-fileupload/pull/4

[2016-04-22 14:04] unhealthy commented on #2
still have this bugs.. node:v5.0.0, express v4.13.4 express-fileupload v0.0.4

[2016-04-22 14:36] pajtai commented on #2
@richardgirges any progress on reviewing my fixes? I'd love to get this fix pulled in.

[2016-04-22 15:19] richardgirges commented on #2
@pajtai apologies for the lag. Will review and pull the fix in by end of day.

[2016-04-22 15:34] #2 closed

[2016-04-22 20:41] richardgirges commented on #2
@pajtai Thanks for your pull request. Just updated the package in NPM.

[2016-04-22 20:42] richardgirges opened #5 "Need proper unit testing"
Currently testing the old fashioned way; need a test process in place to eliminate overhead when updating package.

[2016-04-22 20:43] richardgirges commented on #1
@sinchi still waiting on repro steps. Pushed a couple updates since then. Will close this out; lemme know if the issue still exists and I'll look into it.

[2016-04-22 20:43] #1 closed

[2016-04-22 20:46] richardgirges commented on #3
@DejvoVIII you can upload multiple files. All uploaded files can be found in the `req.files` object.

For example, if you have these two fields in your multipart form:

[code]

On form submission, in express, you can access these files by the name of their input field:
[code]

Please re-open this issue if you're still running into problems uploading multiple files.

[2016-04-22 20:46] #3 closed

[2016-04-23 14:26] pajtai commented on #2
nice, thanks!

[2016-04-25 10:36] DejvoVIII commented on #3
I didn't mean that. I ment when you've got select type multiple and then select multiple files, it uploads just the first one

[2016-04-26 01:47] richardgirges commented on #3
I'm going to need more detail. Can you provide an example of what you're trying to do?

[2016-04-28 17:07] DejvoVIII commented on #3
`<form ref='uploadForm' id='uploadForm' action='http://localhost:3000/upload' method='post' encType="multipart/form-data">
	<input type="file" name="sampleFile" multiple />
	<input type='submit' value='Upload!' />
</form>`

The input has a "multiple" parameter, so in the selection window you can select multiple files at once but the `req.files` contains just the first file that you selected.

[2016-04-29 23:01] mbisono opened #6 "Crashes when the multipart request is empty. And crashes the node instance."
Can be replicated by launching a rest client like Advanced REST client and trying to upload a file without selecting one.

6:57:30 PM web.1 |  events.js:85
6:57:30 PM web.1 |        throw er; // Unhandled 'error' event
6:57:30 PM web.1 |              ^
6:57:30 PM web.1 |  Error: Unexpected end of multipart data
6:57:30 PM web.1 |      at /Users/xxxxxx/Documents/workspace2/node-tickets/node_modules

[2016-08-16 01:04] sahasd opened #7 "Setting max file size"
How do I modify the file size for the files coming in?

[2016-08-18 12:49] samgitre opened #8 "Cannot read property 'mv' of undefined"
Please what is the meaning of the mv in sampleFile,mv() and where does it come from? this is the error message I got when I run it:  (Cannot read property 'mv' of undefined)

[2016-08-21 18:46] lfarroco commented on #8
Had this issue as well while using the single file upload. Instead of looking for the files array, I switched to `req.files.file`.

[2016-08-25 21:11] cavpollo opened #9 "Heads Up: Ajax Post hangs when initializing Fileupload in the wrong order."
I have a page with the following ajax post request:

[code]

It was working just fine until a couple days ago, just before I tried to use this library. The library did indeed work as expected, but using it seemed to have negative consequences on existing functionality. The previously mentioned request hanged for about a minute. Then, although the browser would not receive anything, my app would ra

[2016-08-25 22:30] richardgirges commented on #8
@samgitre `req.files` is an object, not a property.

So if you upload a file with the field name "myFile", you can access it with `req.files.myFile`, at which point you can execute `req.files.myFile.mv()`

[2016-08-25 22:36] richardgirges commented on #6
@mbisono I'm trying to reproduce - can you show me your express request handler code?

[2016-08-25 22:39] richardgirges commented on #9
Thanks for the heads up on this @cavpollo, I'll notate in the README that `app.use(fileUpload());` must be placed after `app.use(bodyParser...)` for all versions of this package. And look into fixing the issue in a subsequent release. Keeping this ticket open until then.

[2016-08-25 22:41] richardgirges commented on #7
You can modify the file size the same way that you can in busboy. Busboy options can be passed into the `fileUpload()` middleware like so:

[code]

[2016-08-25 22:41] #7 closed

[2016-08-25 23:05] mbisono commented on #6
Hi,
I'm no longer using express-fileupload since I switched to using amazon s3, but I pulled the old code from the git history:

this was my route handler definition:

router.post('/', expressFileupload(), require('./set-logo'));

I think it crashed before entering the 'set-logo' handler. Hard to tell since it's been a while.

I only used it for a couple of days.

[2016-09-18 10:09] utkarsharma2 commented on #8
Hi,

What mv is intended to do?

[2016-10-12 17:35] dantheman213 opened #10 "multiple file upload feature or documentation"
This module doesn't appear to allow multiple file upload. Or if it does the documentation does not cover it.

[2016-10-19 07:44] thedwarf21 opened #11 "How do I use it with bodyparser"
I developed all my project with bodyparser but recently, someone asked me to add a way to upload some files. But I didn't manage to make your project work with mine. I tried something like this :

[code]

with a form generated this way :

[code]

but when I try to submit my form `req.files` is always `undefined` as tells me `console.log(req.files);` in my server-side code... could you please expla

[2016-10-19 14:20] thedwarf21 commented on #11
I found as a solution not to use bodyparser at all... I will have to rewrite most of my code :-(

[2016-11-03 01:48] Abhimanyu310 opened #12 "Name of uploaded file"
How do we get the name of the uploaded file? There is no documentation about it

[2016-11-04 03:06] ericman314 opened #13 "Can safely save a file of arbitrary name?"
Is there any provision to check whether a filename is valid, or is this something I have to do explicitly?

For example, in my `server.js`:

[code]

In this example, if the user's `filename` was `../../server.js`, this could really mess things up badly.

[2016-11-04 16:18] richardgirges commented on #13
@ericman314 there is currently no provision to validate the filename, for now you'll have to check manually - but I'll start working on this and have it out in the next release.

[2016-11-04 16:21] richardgirges commented on #12
Hi @Abhimanyu310  I will start working on documentation for this - the filename should be accessible from the file object. For instance, if your input name was `uploadImage` and the file name you uploaded was `foo.jpg` you would access it from:

`req.files.uploadImage.name // foo.jpg`

[2016-11-04 16:24] richardgirges commented on #11
I thought this issue occurred if bodyParser middleware was called out _after_ express-fileupload. But based on your issue that's not the case.

I'm going to look into this and will keep you posted.

[2016-11-04 16:25] richardgirges commented on #10
Hi there,

The module does allow multiple file uploads - I'll update the documentation to cover this.

If you were two upload two files (i.e. sampleFile1 and sampleFile2), they would both be accessible from:

`req.files.sampleFile1`

and

`req.files.sampleFile2`

[2016-11-04 16:26] #8 closed

[2016-11-04 17:56] Abhimanyu310 commented on #12
@richardgirges Thanks, that worked.

[2016-11-29 13:15] adjeiessel commented on #10
var thisFile;
    if (!req.files) {
        res.send('No files were uploaded.');
        return;
    }
    for (var key in req.files) {
        thisFile = req.files[key];
        console.log(req.files[key].name);
        thisFile.mv('public/images/' + req.files[key].name, function(err) {
        if (err) {
          console.log(err);
        }
        else {
           console.log('File uploaded!'

[2016-12-01 03:59] dantheman213 commented on #10
thanks for the information and for also adding a task to write in documentation that covers multiple file upload.

[2016-12-15 21:43] dmolineuxcb commented on #11
I'm having a similar issue with this, when I define fileUpload() *before* the app.use bodyParser, then `req.files` does always work as expected, however I have found that for some reason `application/x-www-form-urlencoded` requests always fail, I suspect this has something to do with having busboy on streams, although I could be completely wrong about this.

When I define it after the bodyParser,

[2016-12-15 21:46] dmolineuxcb commented on #11
Sorry I have actually just found that you knew about this exact problem here: https://github.com/richardgirges/express-fileupload/issues/9

[2017-01-11 03:31] r3wt opened #14 "empty file input results in file object with empty buffer (Firefox)"

[2017-01-13 23:29] #14 closed

[2017-01-14 18:48] #13 closed

[2017-01-14 18:49] #12 closed

[2017-01-14 18:55] #10 closed

[2017-01-14 19:13] richardgirges commented on #14
[Release v0.0.6](https://github.com/richardgirges/express-fileupload/releases/tag/v0.0.6) is out, thanks for the help!

[2017-01-14 19:15] richardgirges commented on #13
Hi @ericman314 a new feature was added to address this issue in [Release v0.0.6](https://github.com/richardgirges/express-fileupload/releases/tag/v0.0.6). Checkout the documentation here:

https://github.com/richardgirges/express-fileupload#available-options

You can now pass in a new option called "safeFileNames" to strip out bad characters from file names. This feature is off by default.

[2017-01-14 19:15] richardgirges commented on #12
[Release v0.0.6](https://github.com/richardgirges/express-fileupload/releases/tag/v0.0.6) is now up. Better documentation in the README. Hope things are going well with this package.

[2017-01-14 19:15] richardgirges commented on #10
[Release v0.0.6](https://github.com/richardgirges/express-fileupload/releases/tag/v0.0.6) is up. Better documentation as well. Hope things are going well with this package!

[2017-01-14 19:28] adjeiessel commented on #10
Just read through the current documentation and it is very clear on how to work with this module . It goes straight to the point to describe the very use case senarios which is awesome .
Good practical explanation

[2017-01-21 06:52] reejinbouk opened #16 "Upload Large file"
Hello, I'm trying upload big file (40Mb) and get this error:
buffer.js:11
    super(arg1, arg2, arg3);
    ^

RangeError: Array buffer allocation failed
    at Buffer.Uint8Array (native)
    at FastBuffer (buffer.js:11:5)
    at createUnsafeBuffer (buffer.js:38:12)
    at allocate (buffer.js:181:12)
    at Function.Buffer.allocUnsafe (buffer.js:141:10)
    at Function.Buffer.concat (buffer.js:309:

[2017-02-07 02:55] flplv opened #17 "<input ... multiple> doesn't work"
In case you have a multiple file selection input, such as
[code]
it won't work. Multiple files will be uploaded, but they will not appear in the `files` tree since this line
[code]
(index.js line 53)
will be called one time per file, replacing the last file from the object.

 I'll submit a patch in this Issue soon.

[2017-02-07 02:59] flplv commented on #17
This is a possible patch: https://github.com/flplv/express-fileupload/commit/2dcbb13938a4e26af1c782488eb014f5ff7c9f61?diff=split

The problem is that it will change the `req.files[fieldname]` from an Object to an Array, which will break backward compatibility.

I believe the correct solution is to store files in `req.files[fieldname + "Multiple"]`, I just couldn't find a way to check if input is m

[2017-02-07 05:56] r3wt commented on #17
@flplv its pretty simple to tell if its multiple files.

[code]

I hope this makes sense. i'm in the bed lol

[2017-02-07 13:13] flplv commented on #17
Thanks.. gonna test it and create a PR.

[2017-02-07 17:25] r3wt commented on #11
just pulled this from a project i'm working on:

[code]
it works for me

[2017-02-10 05:09] richardgirges commented on #17
I believe #18 fixes this. Updated and published to NPM registry.

[2017-02-10 05:10] #17 closed

[2017-02-14 15:55] kovirolik opened #19 "TypeError: callback is not a function"
\node_modules\express-fileupload\lib\index.js:66
                callback(null);
                ^

TypeError: callback is not a function
    at WriteStream.<anonymous> (\node_modules\express-fileupload\lib\index.js:66:17)
    at emitNone (events.js:91:20)
    at WriteStream.emit (events.js:185:7)
    at fs.js:2037:14
    at \node_modules\graceful-fs\graceful-fs.js:43:10
    at FSReqWrap.oncomplet

[2017-02-15 17:25] pat310 commented on #6
I'm having a similar problem when using multipart with `express-fileupload`.  You can try [this example](https://github.com/expressjs/multer/issues/224) posted on `multer`.

[2017-02-17 17:40] #19 closed

[2017-02-17 17:42] richardgirges commented on #9
Closing this one out, as we have to tickets for the same issue. Refer to #11 to track progress on this issue.

[2017-02-17 17:42] #9 closed

[2017-02-17 17:56] #6 closed

[2017-02-17 18:49] richardgirges commented on #16
@reejinbouk can you show me how you are setting up express-fileupload with express?

[2017-02-17 20:40] #11 closed

[2017-02-18 04:51] richardgirges commented on #5
Done

[2017-02-18 04:51] #5 closed

[2017-02-22 09:19] AlexNodex opened #21 "safeFileName"
When safeFileName is set to true in the options, it removes the dot from the file extension thus rendering the extension useless, it might be an idea to allow dots also.

[2017-03-02 19:41] bchr02 commented on #21
that would explain why I am getting an unsupported MIME type error

[2017-03-02 20:13] AlexNodex commented on #21
I really do hope the lib doesn't rely on file extension to set mime type, that would be extremely insecure to rely on !!

Sent from my iPhone

[2017-03-02 20:32] bchr02 commented on #21
I believe the MIME type error was coming from another lib that I am using in conjunction with express-fileupload as a result of the file extension missing..

[2017-03-02 21:49] richardgirges commented on #21
@AlexNodex that is certainly not the case. express-fileupload uses busboy to detect mime types. :)

As for this issue, thanks for bringing it up - it will be resolved in an upcoming release real soon.

[2017-03-09 19:18] richardgirges commented on #16
PR #22 should have resolved this.

[2017-03-09 19:18] #16 closed

[2017-03-26 06:23] sirius2013 opened #23 "sampleFile.mv is not defined"
Hi, I tried this sample.
but I got below error.
sampleFile.mv is not defined
![image](https://cloud.githubusercontent.com/assets/5020713/24329148/b18e30ba-122f-11e7-9372-a09dedc205cd.png)

[2017-03-29 00:29] richardgirges commented on #23
Hi @sirius2013

My first theory is that perhaps the upload isn't taking place correctly. Would you mind showing me your logic for uploading the file, alongside your full `console.log` output of `req.files.sampleFile` ?

[2017-04-03 02:29] sant123 commented on #16
Hi, I'm trying to upload a file of 2GB, but according with this https://github.com/nodejs/node/issues/6560 2GB is the limit size. What can I do then? Splitting the file in chunks?

Thanks.

[2017-04-08 10:51] msankar1991 opened #24 "Is it possible to change filename?"
Currently working REST API for uploading the documents to user profile. Is there anyway to change the file name before moving to particular folder. Like I need to change the file name dynamically example for user profile name need to store based userId.

[2017-04-08 10:54] msankar1991 opened #25 "Is it possible to restrict filetypes?"
Currently working REST API for uploading the documents to user profile. Is there anyway to restrict the file types to upload. For example png, jpg, jpeg, pdf need to accept from client side?

[2017-04-28 01:38] pronein commented on #25
I would do this in two different places.
1. On your server-side express controller handler, verify the file type and reject it if it is invalid. This can be done by checking the actual file contents or simply checking the file type (though the latter could be potentially dangerous due to trust issues).
2. (optional) If you have a client-side front-end where the user selects the file to upload, I w

[2017-04-28 02:00] pronein commented on #24
Yes. Using the `mv(...)` function on the uploaded file you can rename the file to whatever you choose as seen in the readme.
[code]
In this case, the file was originally named with the value found in `sampleFile.name` but it is being renamed to `filename.jpg` in the sample above. If you need to rename your file, just determine the name and append it to the end of the path provided to `.mv(...)` an

[2017-04-30 05:06] richardgirges commented on #21
[New release: v0.1.3](https://github.com/richardgirges/express-fileupload/releases/tag/v0.1.3) has been published to NPM. A new feature, courtesy of @pronein addresses this issue.

You can now pass in `preserveExtension` as an option in the `express-fileupload` middleware. Example usage:

[code]

Read more detail about the feature on the [README](https://github.com/richardgirges/express-fileupload

[2017-04-30 05:06] #21 closed

[2017-04-30 05:09] richardgirges commented on #25
As @pronein stated, this is something you'd want to do outside of the context of this library.

express-fileupload strives to provide a simple API for uploading files with minimal dependencies. How you'd want to restrict file types is entirely up to you.

[2017-04-30 05:09] #25 closed

[2017-04-30 05:09] richardgirges commented on #24
@msankar1991 it looks like @pronein has answered your question. Closing this out - please let me know if you need any additional information. Thanks!

[2017-04-30 05:09] #24 closed

[2017-04-30 05:10] richardgirges commented on #23
Hey @sirius2013 any word?

[2017-05-03 19:24] aaronorosen commented on #23
@sirius2013 i'm guessing the problem is this:

  // The name of the input field (i.e. "sampleFile") is used to retrieve the uploaded file
if you don't use that name on your input form you'll need to upload the server side code.

[2017-05-10 14:27] fleple opened #28 "using fetch to upload file"
How to use it with fetch api?
I wrote something like that, but on server I don't get anything.
[code]

[2017-05-11 19:09] a244096658 commented on #23
Hi! I got the same error. As expected, the req.files.myfile should be like:
![image](https://cloud.githubusercontent.com/assets/20459763/25967296/57ce12ee-3696-11e7-928d-d5bba375eeba.png)

But what I got in my code is:
![image](https://cloud.githubusercontent.com/assets/20459763/25967328/7359484e-3696-11e7-8e0c-a12f2b234c3c.png)

[2017-05-14 13:01] #28 closed

[2017-05-19 06:14] simerjit-fwrk opened #29 "SyntaxError: Use of const in strict mode."
Error:
[code]

I am getting this error. If I replace constant with var then it gives new error
[code]

[2017-05-19 10:53] dhyey35 commented on #29
Can you please let us know the nodejs version you are using ?

[2017-05-19 19:16] RohitRane opened #30 "Getting "No 'Access-Control-Allow-Origin' header is present on the requested resource." error"
XMLHttpRequest cannot load https://localhost:4000/upload-file. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access. The response had HTTP status code 500.

I have enabled on my Express server by doing :

[code]
But, all my other REST POST routes are working fine except the '/upload-file' route which uses your

[2017-05-22 05:10] simerjit-fwrk commented on #29
@dhyey35 node version is 6.9.1

[2017-05-22 20:26] richardgirges commented on #30
Hi @RohitRane, thanks for the detailed report. I would venture to guess that you need to add your `Access-Control-Allow-Origin` logic _before_ the `fileUpload` middleware for starters, as your CORS logic should execute before any other request handling logic.

Can you give that a try and let me know if it worked?

[2017-05-22 20:27] richardgirges commented on #29
@simerjit-fwrk thank you for the report. This one is a doozy, let me try running some tests and I will report back with a fix (hopefully). If you happen to know what may be causing the issue, pull requests are always welcome! Otherwise, we'll get this sorted. Cheers.

[2017-05-22 20:41] r3wt commented on #30
@richardgirges I have cors after the file upload, and a ton of other middleware, and it works fine

[code]

[2017-05-22 20:53] richardgirges commented on #30
Thanks @r3wt, good point.

I'd find it highly unlikely that the CORS issue is directly related to this library, as this is just a simple middleware. But stranger things have happened I guess. My leading theory is that perhaps something in the multipart AJAX request is sending some sort've header that your CORS rules are not allowing.

@RohitRane according to [this ticket](https://github.com/enyo/d

[2017-05-23 07:51] RohitRane commented on #30
Sorry for the delayed response due to  the weekend. I'll try the solutions you guys have mentioned and get by to you by EOD.

[2017-05-23 09:30] RohitRane commented on #30
If I moved fileupload initialization after the CORS like this :

[code]
But then I am getting this error

[code]

[2017-05-23 09:49] RohitRane commented on #30
Actually @richardgirges  solution  worked, the "Boundary not found" was caused because I was explicity  setting 'Content-Type': 'multipart/form-data' in the Dropzone plugins header option. Once I removed it, it worked fine.

[2017-05-23 09:49] #30 closed

[2017-05-29 05:09] xliez opened #31 "while I upload no file with just submitting, req.files is {}, and !req.files will be false."
So that can't deal with empty input[type='file'].

[2017-05-29 07:14] xliez commented on #31
Also, req.body can't get the input[type='text'] when it along with input[type='file']

[2017-05-30 02:00] richardgirges commented on #31
Hey there,
I intentionally left `req.files` as an empty object to follow the same conventions that other Express middlewares. Usually `req.body` and `req.query` will be empty objects when no arguments are passed in as body or query parameters.

As for the issue of `input[type=text]` not getting parsed by `express-fileupload` properly, this sounds like it may be a bug. Can you let me know what kind

[2017-05-30 03:38] xliez commented on #31
Thanks, I got it!
The header is multipart. I defined the form with the attribute `enctype="multipart/form-data"`.

[2017-05-30 16:36] mikeatlas commented on #16
@richardgirges PR #22 did indeed improve the performance during the transfer, but the same error occurs for me (uploading 4gb):

[code]
I'm running the latest `express-fileupload`, version 0.1.3.

[2017-05-30 16:55] mikeatlas commented on #16
This points to `Buffer.concat` as the culprit... the data type underneath isn't good enough.

Perhaps, in the case of large files instead of `on('data')` calls collected into buffers which are finally concatenated into a final buffer in `on('end')`, an alternative would be to write the bytes to a temporary file on disk and then point to the final file, rather than keep all the bytes in memory for

[2017-06-07 11:03] rajkuttie opened #32 "How to upload a file in express with progress bar?"

[2017-06-15 19:06] Umesh2Patel opened #33 ""errno":-4058,"code":"ENOENT","syscall":"open""
Hi, I am using sampleFile.mv. It was working before but recently I am seeing below exception. I am using Postman tool to make a call. I tried using RestClient tool and seeing same error.

Response:
{
    "errno": -4058,
    "code": "ENOENT",
    "syscall": "open",
    "path": "C:\\Users\\QATools\\testdb-api\\Users\u000bn0u7yzDesktopOmniture excels files - Copy\\omniture-test-data.xlsx"
}

![upload

[2017-06-22 01:23] jashanbhullar opened #34 "Adding an additional property to files!"
Working on uploading a a complete folder to the server. Need webkitRelativePath property of the file to preserver directory structure. Please add this functionality or point me in the right direction, i will do it myself.

[2017-06-24 08:57] zhouhao27 opened #35 "How to upload through api instead of from form?"
I'm wondering if it's possible to uplad multiple files (or data) through api instead of through form? Any example? Thanks.

[2017-06-24 16:19] richardgirges commented on #35
Hey @zhouhao27 it sure is.

Here is an example of the `superagent` package uploading an array of files:

https://github.com/richardgirges/express-fileupload/blob/master/test/multipartUploads.spec.js#L138

There are other examples in the unit tests as well.

[2017-06-24 16:19] #35 closed

[2017-06-24 16:20] richardgirges commented on #34
Hey @jashanbhullar I'm not quite sure I understand the request. Can you elaborate?

All of the source code is in the `lib/index.js` file:
https://github.com/richardgirges/express-fileupload/blob/master/lib/index.js

Feel free to send a PR!

[2017-06-29 06:01] QqlimaaxX opened #37 "How to save a file to local destination?"
I know this isn't an issue, but please help.
The file is correctly uploading at the server. Its accessible at req.files.filename. But how do i save it to some local destination?

[2017-06-30 16:45] r3wt commented on #37
@QqlimaaxX here's an example of storing files in /tmp similar to php:

[code]

[2017-06-30 17:03] richardgirges commented on #37
@QqlimaaxX please let us know if @r3wt example gets you what you need! :)

Closing this for now.

[2017-06-30 17:03] #37 closed

[2017-06-30 17:04] richardgirges commented on #33
Hey @Umesh2Patel can you show me what headers you're sending? Trying to replicate this on my end. Thanks!

[2017-07-01 02:21] jashanbhullar commented on #34
Let's say i upload a complete directory from a client's system using a simple HTML form, then i want to replicate the directory structure under that directory on the server. There's no option for me to do that in this module.
See [multer](https://www.npmjs.com/package/multer) 's `preservepath` and `originalname`

[2017-07-01 05:22] UnknownHero commented on #32
Hi!
Your issue related with browser and don't related with express.

You can find answer here:
http://christopher5106.github.io/web/2015/12/13/HTML5-file-image-upload-and-resizing-javascript-with-progress-bar.html

https://stackoverflow.com/questions/15410265/file-upload-progress-bar-with-jquery

[2017-07-01 05:39] richardgirges commented on #32
@rajkuttie Please let me know if @UnknownHero has answered your question. Getting the progress of your download is definitely a client-side integration. Happy to discuss further! Closing the issue for now since there is no actionable takeaway for express-fileupload.

[2017-07-01 05:39] #32 closed

[2017-07-01 17:03] prtome opened #38 "how to print the error when using .mv"
I would like (now that everything is working perfectly) manage the errors.
I have the following code, which (purposely) does not work. i am trying to get the error message, but I never get the IAM HERE printed in the log, and of course no message is sent back.

SORRY - I don't know how to delete this issue.  Brain meltdown due to the heat - everything works as expected

[2017-07-02 14:52] richardgirges commented on #38
No worries :)

[2017-07-02 14:52] #38 closed

[2017-07-06 11:34] mission10138 commented on #23
mv doesnt seem to work at all.

[2017-07-06 13:02] mission10138 opened #39 ".mv creates 0byte empty file"
i got this to create files in my uploads directory but it isnt putting anything in the file. os.tmpdir says my temp dir is /tmp/ but there arent any uploads in there either.

[2017-07-06 14:24] secofeixo opened #40 "limit fileSize"
I'm not able to detect when a file has reached the limit specified by the options when the fileupload object is created.
The module runs the next() but without any message that the file have reached the max fileSize but the file is saved truncated.
Maybe a new field truncated can be added to req.file, indicating that the file has been truncated and it has exceeded the maxFileSIze.

[2017-07-06 17:52] r3wt commented on #39
@mission10138 have you tried using the `tmp` module?

the following works for me on both linux and windows:

[code]

[2017-07-28 09:16] prtome opened #41 "limit file size per action not whole app"
Hello,
is there a way to limit /check the file size per route call? I have various places in my application where I upload files, and the size limit is different for each of them I do it in the client, but want to double-check in the server. Is there a way I can check the file size in the route call so I do what I need to do ?
Thanks

[2017-07-28 19:17] Kailang opened #42 "ES6 Promise version .vm"
Trying to add a ES6 Promise version of the .mv function.

Here's the draft:

[code]

This should be appended after the ```.vm``` definition in ```let newFile```.

Any suggestions? If this looks good, I'll create a pull request with a test.

[2017-07-29 14:17] erevos-13 opened #43 "My file is not `.mv` move to folder"
Hello very nice work, i have a an issue.
I upload the file i see the file object in my `console.log(req.files.filetoupload);`
but the when i move the file:
[code]
i do not have an  err but still the file is not load.
i have sudo permisions

[2017-07-29 14:22] richardgirges commented on #42
Hey this looks good, but I'm wondering if we can just update the existing mv method instead. If a callback is passed in, it executes a callback. Otherwise, it returns a promise. Make sense?

[2017-07-29 14:23] richardgirges commented on #41
There is no way to do that with this library unfortunately. Happy to take a PR if you can think of a clean and minimalistic API for how this would work :)

[2017-07-29 14:24] richardgirges commented on #40
This is a really good catch. I'll look into it. Thanks!

[2017-07-29 14:40] prtome commented on #41
Thanks.
Next is certainly a dumb question. I am looking at the size of the buffer: req.files.data.size
 which seems to give me the size of my file  - right ?
Then I can simply in each route check the size and load or not the file in the db.
Does this make sense ?

[2017-07-29 16:26] #43 closed

[2017-07-29 16:31] r3wt commented on #43
To any future readers, please *RTFM*

[2017-08-04 03:59] Kailang commented on #42
Yeah, of course, why not?

[code]

And if you dislike lambda expression...
[code]

[2017-08-04 10:19] qaz40520 opened #44 "mv function error"
when I upload image, return this error
`{
    "errno": -2,
    "code": "ENOENT",
    "syscall": "open",
    "path": "public/images/visitor7.jpg"
}`
please help me ~~

[2017-08-04 10:44] #44 closed

[2017-08-04 16:58] ezetojo opened #45 "Way to get path of the file?"
Im using express-fileupload to get the file from the client side form but i need to use ftp to move it so i need the path, is there any way to do it using this?

[2017-08-07 14:10] Naktibalda commented on #45
@ezetojo `express-fileupload` keeps uploaded file in memory, use `mv` method for writing uploaded file to filesystem.

[2017-08-07 14:18] ezetojo commented on #45
@Naktibalda ohhh i get it now. I can move the uploaded file to a temp path and then use ftp. Thank you!

[2017-08-07 14:18] #45 closed

[2017-08-28 17:06] richardgirges commented on #39
Hey @mission10138 can you send me some more details regarding what OS and version of the OS you're using? Node version, and version of express-fileupload as well if possible. Will try to reproduce this after I can get some more details. Thanks!

[2017-08-28 19:13] #42 closed

[2017-08-29 14:49] lanzosuarez opened #46 "Restify?"
Will this work on restify? or this library is limited with express?

[2017-09-03 05:47] himadrinath opened #47 "how to use it on google cloud functions"
can i use it with google cloud functions if i can then can u show me example of it or may be some link it will really help me.

thanks

[2017-09-03 14:36] himadrinath commented on #47
found one

https://github.com/firebase/functions-samples/tree/master/image-maker

[2017-09-03 14:36] #47 closed

[2017-09-03 14:53] Allmektiger commented on #23
I confirm that issue.
console.log(req.files.avatar) shows:
`{ fieldname: 'avatar',
  originalname: 'image001.jpg',
  name: 'c5c6bd366ff0747d60bdea6fe423b7d6.jpg',
  encoding: '7bit',
  mimetype: 'image/jpeg',
  path: '/tmp/c5c6bd366ff0747d60bdea6fe423b7d6.jpg',
  extension: 'jpg',
  size: 56253,
  truncated: false,
  buffer: null }`
but when i try to invoke req.files.avatar.mv at next row i receiv

[2017-09-03 15:09] richardgirges commented on #23
@Allmektiger thanks for the details. Would you mind providing me with additional information to help me track this issue down? Such as your express and middleware setup?

Your output of `req.files.avatar` doesn't look like a valid `express-fileupload` object - it seems that perhaps something else is handling the upload for your file (i.e. another middleware).

To everyone else experiencing this is

[2017-09-03 15:12] richardgirges commented on #46
Hey @lanzosuarez, it actually might work with restify considering restify is based on [connect](https://www.npmjs.com/package/connect). But it's not officially supported since none of the unit tests in this library use restify.

If you'd like to present official restify to this library, feel free to send a PR with some unit tests!

[2017-09-03 15:17] Allmektiger commented on #23
Yes, of course.
I use keystonejs 4.0: https://github.com/keystonejs/keystone
NodeJS as i say, v6.11.0

At /routes/index.js:
`...
app.all('/server?', keystone.middleware.api, routes.views.server);
...`

At routes.views.server:

var keystone = require('keystone');
var fileUpload = require('express-fileupload');
<...>
if (req.files) {
              console.log(req.files.avatar);
              req.fil

[2017-09-03 15:18] richardgirges commented on #33
@Umesh2Patel any word? Trying to get more information on what kind of headers you're sending so I can replicate this issue on my end.

[2017-09-03 15:29] Allmektiger commented on #23
Ouch, I found that keystonejs has already defines req.files. Sorry to bother you.

[2017-09-03 15:43] richardgirges commented on #23
Not a problem! That's actually pretty helpful. I suspect something similar may be happening with the other users.

[2017-09-03 15:46] r3wt commented on #23
wow what a fucking moron

[2017-09-03 15:47] r3wt commented on #23
Keystone probably uses another file upload middleware already. After all, fileuploads a native type of keystone List models... good grief

[2017-09-05 17:19] Umesh2Patel commented on #33
@richardgirges  Thanks for following up. After changing my code I am not seeing my error anymore.
Below is my API. I have added {force:true} and then it started working.

 app.post('/deletefiles', function(req, res) {
  del(['/app/new-omniture-tests/omniture-tests/omnitureUtilities/*.xlsx'], {force: true}).then(function(paths) {
    res.send('Files Deleted! \n ' + paths.join('\n'));
  });
});

[2017-09-05 17:19] #33 closed

[2017-09-12 18:34] khessels opened #48 "Create md5 checksum on data"
It might be an idea to create an md5 property.
Many uses really, but for me to ulpoad a file and have the md5 ready saves a few steps.

[2017-09-14 07:22] gosongs commented on #44
@qaz40520 hi, man, How did you solve the problem?

[2017-09-14 07:24] gosongs commented on #43
RTFM means 'Read The Fucking Manual'

[2017-09-19 12:04] PaulRosset opened #49 "Using with superagent and react"
I would like to upload a image file on my server with superagent and react.
But my ```req.files```is always undefined.

I will appreciate if someone can help me on it :)

Here is my code :
[code]
Server side:
[code]

Client:
[code]

In my superagent request, I have to overwrite the content-type, otherwise json data are send.

But the req.file is still undefined on my backend.

Thanks for the help

[2017-09-19 15:22] richardgirges commented on #49
Your server configuration looks correct. However, express-fileupload won't work if you set the `Content-Type` to an empty string - I also don't think that's generally a good practice. What is the issue that led you to setting the Content-Type this way?

[2017-09-19 16:04] PaulRosset commented on #49
Thanks for the reply,

Because I need to pass only the content-type ```form-data``` but some json data are also sent. I can't send both. So, if I don't do this , it will result with an error cause of the json.

[2017-09-20 10:34] PaulRosset commented on #49
Ok, thanks for the help, I found the solution, it's because I was declaring bodyParser middleware on my whole application and he was overwritting the fileUpload middleware.
Now I declare bodyParser on each specific route and everythings works fine.

[2017-09-20 13:15] xman51 opened #50 "SyntaxError: Unexpected token ="
I am unable to run my application with express-fileupload installed. I get the following error when attempting to run my application:

Here is my route code:

[code]

Please advise.

[2017-09-22 07:55] tumdav opened #51 "Do not parse nested objects."
**Request example**
______
![image](https://user-images.githubusercontent.com/10452309/30734458-4778e3c4-9f8c-11e7-96f4-447321bb8e00.png)

**Expected Result**

[code]
**Actual Result**
______
[code]

[2017-10-01 12:29] rrufus commented on #50
I am also seeing this issue

[2017-10-04 23:05] zarcha commented on #50
you can remove the " = null" on line 137 and it fixes that issue

[2017-10-05 01:00] richardgirges commented on #50
Hey thanks for the report. Can I get some more detail about your environment? Such as the version of node that you're using. I will try to reproduce and fix this issue asap.

[2017-10-05 01:06] zarcha commented on #50
Sorry I spoke a little too soon on versions. My development environment has node v6.11.3 and and the other production environment that is failing uses v4.7.2

Both have the exact same code. I get the above error at line 137. Removing what i said fixes the issue and has caused no noticeable issues on either version.

[2017-10-05 04:25] r3wt commented on #50
@richardgirges i don't think we should fix it. there is no reason to be running such an old version of node that doesn't support es5/es6 etc.

but, what we could do is:

1. fix in current major version and bump package minor version.
2. fork and bump major package version, taking advantage of all the nice things es5/es6 offers us. this way we can break backwards compatibility without having to wor

[2017-10-05 12:25] zarcha commented on #50
Thats also fine @r3wt  . Its also an issue with v5.8.0 which my macbook uses. The v4.7.2 is what ubuntu provides in its repo for using apt-get so i would think people using linux will run into this issue. Its not an issue for me now since i fixed it in my code base.

[2017-10-07 03:44] richardgirges commented on #50
Ya @r3wt I agree that we should uphold support for 6 and above.

Because this is such a trivial fix, I'm going to go ahead and push it up and cut a minor version like you suggested, followed by another minor version update with the restrictions on engine support.

[2017-10-07 03:46] #50 closed

[2017-10-07 03:47] richardgirges commented on #51
Hey thanks for the report @tumdav

I will try to get to this in the next week or so. If you happen to have the bandwidth to send the PR, it would be greatly appreciated!

[2017-10-07 03:47] richardgirges commented on #49
Great, glad you found it!

[2017-10-07 03:47] #49 closed

[2017-10-07 03:50] richardgirges commented on #46
Closing this issue, but please let me know if you would like to re-open a discussion around restify support

[2017-10-07 03:50] #46 closed

[2017-10-07 03:52] richardgirges commented on #48
Sounds like a good idea. I'm listing this as an enhancement and will try to look into it for the next minor version rollout. If you are willing to consider sending a PR in the meantime, it would be much appreciated!

[2017-10-07 03:53] richardgirges commented on #39
Closing this out due to inactivity, but please re-open if you are still experiencing this on the latest version of express-fileupload

[2017-10-07 03:53] #39 closed

[2017-10-30 16:33] antoinerousseau opened #52 "Tmp file?"
I was wondering, if I don't use `mv()`, what happens to the file? Does it stay in a temporary folder?

[2017-11-01 06:59] Felonius-Gru opened #53 "Uploaded file URL"
Hello, Thanks for your simple file upload package!
I want to upload file and get URL of uploaded file as response.
Is there anyway to get this?
Thanks.

[2017-11-03 23:25] 24thdiv opened #54 "mv function not working but also not giving error"
Hi,
I am uploading image file. I am getting file in my server side. but when i execute 'mv' function it's not uploading my file to given destination and its also not giving me any error.

my server side code.

[code]

it prints file uploaded but file is not on given location 'newpath';

[2017-11-07 11:11] ohelli opened #55 "mv not returning error with missing source file"
Hello,
i am currently debugging an issue in an express app using fileupload. In this issue, a user uploads a file but accidentally moves the source file to another directory before uploading it - meaning the file shouldn't be found and the `mv` method should return an error.
This is happening in Firefox and Chrome, however not in Safari. Can you think of a reason for this?
Thank you for your help.

[2017-11-07 17:19] ohelli commented on #55
If it helps, the `mv` method creates an empty target file at the given `absolute_path`.

[2017-11-10 12:21] patroclos opened #56 "not recognizing empty files"
When I try to upload an empty file, I get nothing in request.files

[2017-11-22 09:57] tumulr commented on #56
@richardgirges I checked the code and found that if there is no data no object is getting created in req.files(Line 93 in index.js).

How do you want to handle it? I can help if you want.

[2017-11-22 10:37] tumulr commented on #51
@richardgirges I want to help but I am not able to understand. Can you explain me what needs to be done?

[2017-11-22 13:20] tumulr commented on #52
As per my knowledge, all the data of the file is present in req.files(in-memory) and since you haven't moved it to a location using the mv function it should remain in-memory.

@richardgirges Correct me if I am wrong?

[2017-11-22 19:49] antoinerousseau commented on #52
if it's not initially on the disk, I think the method should be named more like `.save()` or `.saveTo()`

[2017-11-26 23:47] bpiv400 commented on #10
Hi, express-fileupload clearly supports multiple file upload when the files are coming from inputs with different names. But does the package support uploading multiple files from a single input tag with the multiple attribute? Something like this:
`<input type="file" name="myPictures" multiple></input>`

[2017-11-26 23:49] bpiv400 opened #58 "Multiple File Upload from Single Input"
Hi, the documentation indicates express-fileupload supports multiple file upload when the files are coming from input tags with different names. But does the package support uploading multiple files from a single input tag with the multiple attribute? Something like this:
`<input type="file" name="myPictures" multiple></input>`

[2017-11-30 11:49] blavejr commented on #54
@24thdiv Same issue here, did you find a fix?

[2017-11-30 11:58] blavejr commented on #54
@24thdiv I think I found my problem, turns out express-fileupload will not create a new folder, you need to create the folder.

[2017-12-02 17:39] himadrinath opened #60 "support Node.js 6.11.1"
@richardgirges  does it support Node.js 6.11.1 because i am using it with google cloud functions and it support only v6.11.1........

[2017-12-04 04:46] 24thdiv commented on #54
@blavejr it's still not working.  I already have a folder.   The "mv" function executes successfully but file never uploaded to give folder. Will the be any issue with express version?

[2017-12-04 12:43] blavejr commented on #54
"var newpath = "../public/images/" + fileName;"
I think your problem is here, fileupload doesn't seem to use relative paths, try and use an absolute path to the file you want to save the images in.
something like ./public/images/" + fileName;

the difference is the . at the beginning.
.. - relative path
. - absolute path.

Hope that helps mate, it worked for me.

[2017-12-06 00:20] richardgirges commented on #60
Hi @himadrinath can you give me some more information? What specifically isn't working? Are you seeing a certain error?

Also, what version of express-fileupload are you using?

Thanks!

[2017-12-06 00:21] richardgirges commented on #58
Hi @bpiv400 I believe this should work, although I haven't tested it myself. Are you seeing behavior to indicate otherwise?

[2017-12-06 00:22] richardgirges commented on #56
@tumulr it sounds like we can simply create an empty object in req.files in the event that this happens. Curious how other systems do it, like multer.

[2017-12-06 03:20] himadrinath commented on #60
@richardgirges  i found out the problem
https://stackoverflow.com/questions/47242340/how-to-upload-a-file-using-express-on-firebase-cloud-functions

[2017-12-14 11:20] #60 closed

[2017-12-15 09:00] nisan92 commented on #19
Having same problem here
node_modules/express-fileupload/lib/index.js:145
                callback(error);
                ^

TypeError: callback is not a function
    at doMove (/home/ubuntu/workspace/node_modules/express-fileupload/lib/index.js:145:17)
    at WriteStream.<anonymous> (/home/ubuntu/workspace/node_modules/express-fileupload/lib/index.js:168:15)
    at emitOne (events.js:101:20)

[2017-12-20 13:28] Mdhaker opened #63 "always no file uploaded"
I tested the sample code in the readm page but also didn't work ! i test it with postman and req.files always undifined !
how to test it with post man ?
![image](https://user-images.githubusercontent.com/22690712/34209354-0eeae632-e592-11e7-8437-2f9c09104a15.png)

[2017-12-24 06:34] Muneem commented on #54
i am also facing same issue. I have tried absolute path also but no luck

[2018-01-03 06:36] richardgirges opened #64 "LOOKING FOR MAINTAINERS"
Personal life and work has been absolutely crazy lately. Hoping to onboard one or two more dedicated people to help maintain this project. I by no means plan on retiring this project, so no need to worry if you're a bystander reading this. Would just be nice to have some extra help is all.

Email me if you're interested: richardgirges@gmail.com

Even if you're not confident in your skills and are

[2018-01-06 13:23] muhshahabipour commented on #63
remove content-type from headers and test

[2018-01-08 10:15] karan-kapoor90 commented on #63
Same even if no headers are passed.

[2018-01-08 10:20] karan-kapoor90 commented on #63
My bad.. I hadn't loaded the middleware..
For anyone else that might be making the stupid mistake I did, dont forget to add
`app.use(fileUpload());`

[2018-01-19 00:15] #40 closed

[2018-01-19 00:24] richardgirges commented on #52
@tumulr that is correct. @antoinerousseau that's a good point. I can't eliminate the `.mv` function without putting it through a deprecation phase as it would be a pretty major breaking change. But I would be open to a PR that introduces a method named `.save()` that aliases `.mv()` for the time being.

Closing this out as it's not an actual issue. Lemme know if you'd be interested in making a PR

[2018-01-19 00:24] #52 closed

[2018-01-21 00:11] mwilde345 opened #68 "How do I access the busboy object?"
I read up on connect-busboy but I can't access that as explained via req.busboy or req.Busboy.
My goal is to access the event handlers within.

[2018-01-23 21:11] MarcProe commented on #58
It works, but the names of the uploaded files are a bit messy:

[code]

Multiple fileupload will present the data as array to the server, and express-fileupload seems to not understand that and just take the array elements literally.

[2018-01-24 19:36] #23 closed

[2018-01-24 19:37] richardgirges commented on #29
Still unable to reproduce this. We've made a couple updates to avoid certain ES syntaxes in older versions of Node. Please let me know if the latest version of this package is yielding the same issues. Closing in the meantime.

[2018-01-24 19:37] #29 closed

[2018-01-24 19:39] richardgirges commented on #51
@tumulr you would probably want to parse the req.body property and convert it into nested objects. This will be a breaking change so we'll need to make a minor release update.

My guess is that there may be a lightweight package out there that we can use for converting the form-based nested structures into actual JSON nested structures - although it would be nice to implement this raw without intr

[2018-01-24 19:47] richardgirges commented on #53
@Felonius-Gru thanks :)

You will have to build the URL of the uploaded file yourself, as it wouldn't be possible for express-fileupload to know the proper URL.

For example:
* Your website's url is `http://www.foo.com`
* You upload a file with express-fileupload
* You use express-fileupload's `.mv()` function to move the file into your `/images` directory
* You can now access the file from `http:

[2018-01-24 19:47] #53 closed

[2018-01-24 19:49] richardgirges commented on #54
For those of you experiencing the issue, would you mind showing some additional code:

* Where you instantiate express-fileupload (i.e. your `app.use()`)
* The full example of your usage of `.mv()`

I am having a hard time reproducing this, but my guess is that there's some sort of edge case (maybe what @blavejr is mentioning with relative vs absolute paths) that's causing this problem.

[2018-01-24 19:51] richardgirges commented on #55
@ohelli  this is definitely a bug. We will need to confirm that a file exists (i.e. the file's data.length > 0) and then return an error if `.mv()` is executed.

Any PR to address this would be greatly appreciated, otherwise, I will look into this soon.

Cheers

[2018-01-24 19:55] richardgirges commented on #58
@MarcProe  there is another bug around issue of the object structure: #51

I 100% agree that we need to fix the messiness of the uploaded file structure. I'll be tracking the progress for that fix in #51 and close this ticket in the meantime

[2018-01-24 19:55] #58 closed

[2018-01-24 19:57] richardgirges commented on #63
@Mdhaker there's an issue with certain headers that don't get supported by express-fileupload as expected (such as multipart I believe).

This issue is a duplicate of #31 and will be addressed soon

[2018-01-24 19:57] #63 closed

[2018-01-24 20:02] richardgirges commented on #68
I'm not exposing the busboy object from express-fileupload. Primarily because I don't want to create a user-facing dependency on busboy that will disable me from removing busboy from this package down the line.

I think it would be a much safer alternative for you to use connect-busboy directly, or fork this package if you'd like to alter it to expose busboy - I can help point you in the area of t

[2018-01-24 20:02] #68 closed

[2018-01-24 20:02] #64 closed

[2018-01-25 10:29] ohelli commented on #55
Thanks for this. Don't have time to do it myself a the moment. I will recommend using Chrome and Firefox as a workaround until its fixed.

[2018-01-30 11:29] danger89 opened #69 "Fileupload vs Multer"
Could you explain why you created Express Fileupload? And what are the differences between Express-fileupload and [Multer](https://www.npmjs.com/package/multer).

Is one better than the other or? Are there maybe use cases you want to use multer instead of fileupload or visa versa.

Thanks for your explanation. Maybe it's even a good idea to add is story to your readme.

Kind regards,
Melroy van de

[2018-02-06 02:15] maxchehab opened #70 "Multiple file request returns empty files object"
How can I receive a file with zero bytes?

[2018-02-10 09:53] suddu619 opened #71 "how do i access the other text input fields of the form"
req.body seems to be empty. I can get only the files which i upload not the other text fields

[2018-02-14 09:30] namanyayg opened #72 ".mv() gives EISDIR error"
Error while running `.mv()` like so:

[code]

The error:

[code]

I'm on Windows x64, using the latest Node 9.5.0 and NPM 5.6.0

[2018-02-14 09:33] namanyayg commented on #72
Fixed.

[EISDIR stands for "Error, Is Directory"](https://stackoverflow.com/a/42677294/1518029). The `mv()` method expects full filename, not just the folder. Use

[code]

Closing, apologies for the trouble.

[2018-02-14 09:33] #72 closed

[2018-02-16 22:13] haoranzhang929 commented on #54
I had the same issue. But after trying @blavejr 's solution: create the folder I want to put my file into and change my path from relative path to absolute path, It works perfectly now. Thanks!

[2018-02-18 23:50] udany opened #73 "Weird behavior on "mounted" when altering data on a page"
I have no idea what is going on, but i managed to get it to a minimum of code (short of creating a brand new nuxt app) and it still reproduces, here's the specimen:

[code]

As you may see, I have a map attribute, and I intend on setting it on "mounted", still this doesn't work if I load the page fresh (if I navigate from a nuxt-link (or alter the code and it hot reloads) things work just fine), y

[2018-02-18 23:51] udany commented on #73
FYI by "doesn't work" I mean map is equal to null by the time the page renders

[2018-02-18 23:51] #73 closed

[2018-02-18 23:52] udany commented on #73
I submitted it on the wrong tab... It was supposed to go to the Nuxt rep...

[2018-02-23 17:01] Jaylton opened #74 "how do I not refresh the browser when UPDATE is complete?"
How can this be done?

[2018-03-02 19:31] sipmann commented on #74
if I got i... You should send the file with AJAX instead of a form submit.

[2018-03-03 01:04] Jaylton commented on #74
thanks, man!

[2018-03-03 01:04] #74 closed

[2018-03-08 17:58] thanhthein opened #75 "Upload Image and other params at the same action save."
How can I upload Image Profile and save other infomation at only one Save button ?
I tried to send with other Body but the response is bad request:
My code:
[code]

[code]

[code]

[code]
In my code, start upload image when user select to any input and type somethings. And I received iamgeURL from respone. But it did not work.
Bad request.
So, i'm waiting solution

![image](https://user-images.git

[2018-03-12 13:42] lakshaygaur commented on #68
@mwilde345 @richardgirges Please provide any details if you were able to integrate busboy with express-fileupload.
I'm trying to put some constraints on file mimetype ... So any suggestion is welcomed as well.

[2018-03-12 20:27] mwilde345 commented on #68
@lakshaygaur I ended up not using express-fileupload. I am uploading my file using ajax xhr. On the server side I use busboy directly and filter the file size.
`var busboy = new Busboy({
        headers: req.headers,
        limits: {
            fileSize: 3 * 1024 * 1024
        }
    });`

You could use that format to filter the file type I believe.

[2018-03-13 13:27] lakshaygaur commented on #68
@mwilde345 Thanks for the suggestion. But i just used a function instead to upload all my files. I'm able to put constraints there.

[2018-03-20 09:35] chanakaDe opened #76 "How to write to root folders ?"
Hi,
/opt/lampp/htdocs/upload/
This is the folder of my local LAMPP.
I want to write files to this.
But there's a permission issue i think.
how to fix please ?

[2018-03-29 12:58] Xgamefactory commented on #69
we are currently using multer not so happy. for example filesize limit not works as expected whole file uploaded then gives error. it not canceled or stopped uploading big files just gives erorr upon received whole bytes there are issues on multer github  for this subject.

hopes fileupload does not have such simple issues.

[2018-04-07 18:30] PasinduDineth commented on #71
i have the same issue. any updates about this?

[2018-04-10 20:45] sant123 commented on #71
I have this:

Client
[code]

Server
[code]

And I get these values with the file.

req.body

[code]

May you show me how are you doing the upload file example?

Thank you!

[2018-04-10 20:55] sant123 commented on #75
Try with this:

Client

[code]

[code]

Server

[code]

Please be sure folder `files` exists in your server.

[2018-04-10 20:55] sant123 commented on #75
req.body should have

[code]

[2018-04-10 20:56] sant123 commented on #75
See https://stackoverflow.com/questions/166221/how-can-i-upload-files-asynchronously#answer-8758614

[2018-04-25 07:06] dilanSachi commented on #71
use `req.body.your-field-name` to access other form data

[2018-05-09 14:12] ahmadkhalaf1 opened #77 "pass the file to the server using post request in the controller not in the form"
hello ,
how can i pass the file object to the server using post request in my controller , instead of using form and action

thanks.

[2018-05-13 14:05] yagoml commented on #10
The same of @bpiv400. Need get multiple files for the same input

[2018-05-13 20:20] tresdosdos opened #78 "some info with mv func"
can you give me info, what is this?)
![image](https://user-images.githubusercontent.com/36292581/39971458-1ef7a5b8-5704-11e8-8790-04b54f7524f7.png)
[code]

[2018-05-13 20:28] tresdosdos commented on #78
the problem with \\ slashes, that was added automatically. how to avoid them without full manual path?

[2018-05-15 12:39] tresdosdos commented on #78
A problem was solved. We need to use backslashes in the path \\

[2018-05-15 12:39] #78 closed

[2018-05-22 22:12] jonas060831 commented on #8
@richardgirges  'var imagedata = req.files.imageinput.data;'

i tried to get the buffer using this but it gives me
Cannot read property 'imageinput' of undefined when i tried to deploy it on serverless... locally it works but when deploying to serverless it doesnt please help

[2018-05-22 23:03] jonas060831 opened #80 "Serverless: Error: Unexpected end of multipart data"
Tried to use express-upload together with serverless
after deploying to aws and trying the endpoint it gives me error 500

when running the code with node locally it works fine

i also did tried to run the endpoint locally with serverless offline and it gives me

**Error: Unexpected end of multipart data**
and

**Cannot read property 'imageinput'**

this is the route

[code]

[2018-05-24 09:40] selinAnt0n opened #81 "files all time undefined"
[code]

request.files all time undefined .

[code]

I saw all errors with bodyParser, and remove bodyParser from the project, but it didn`t help.

[2018-05-29 15:18] orshee opened #82 "Clarification needed : Why is this done as a middleware?"
I'm just curious, why have you decided to create this module as middleware ?
Access to req object, or dynamic binding to form elements, or something else?

Thanks in advance

[2018-05-31 17:48] richardgirges commented on #82
Access to the req object, in an attempt to stay consistent with express's request parameters (i.e. `req.body`, `req.query`, etc). Also, middlewares seem to be the most idiomatic approach considering most other express file upload handlers use them as well. Hope this answers your question!

[2018-05-31 17:48] #82 closed

[2018-05-31 17:49] richardgirges commented on #48
@Shudrum thanks!

[2018-05-31 17:49] #48 closed

[2018-05-31 18:26] richardgirges commented on #77
Hi @ahmadkhalaf1, would you mind elaborating a bit? If I'm understanding correctly, you're curious as to how you can pass in the file object to do an upload from the server-side?

[2018-05-31 18:28] richardgirges commented on #76
Hey @chanakaDe, unfortunately this is an issue that's local to your workstation. I'm not familiar with LAMPP so I'm not sure how you can enable permissions on different folders. My guess is that you're going to have to Apache Directory Permissions.

This post might help, but I'm not too sure: https://askubuntu.com/questions/325498/apache-cant-access-folders-in-my-home-directory?utm_medium=organic&

[2018-05-31 18:28] #76 closed

[2018-05-31 18:29] richardgirges commented on #70
Hey @maxchehab, can you please elaborate? Can you give me some example code of what you're trying to do so I can help you out. Please feel free to re-open a ticket with more details.

Thanks!

[2018-05-31 18:29] #70 closed

[2018-06-06 02:14] June1994 opened #83 "md5(buf) resulting in JavaScript heap out of memory"
I uploaded a 100M video causing memory overflow.
[code]
After commenting the code` md5(buf)`, the error disappears.I think the whole data of MD5 may have problems.

[2018-06-07 05:43] jamesjoel commented on #7
how i get file size in fileUpload()

[2018-06-11 16:46] Renari opened #84 "Busboy fileSize limit not being applied?"
According to the docs to limit the file size I would do the following.

[code]

However when doing this when I upload a 60MB I'm not getting a 413 response, rather everything proceeds as if the `fileSize` limit doesn't exist.

[2018-06-13 01:03] lucaspojo commented on #83
Up ! Same issue.. How to fix ?

Ubuntu server 18.04, 64GB ram, 12TO sata

[2018-06-14 14:35] tymiao1220 opened #85 "Multiple upload"
Is there a way to handle multiple files coming from one input` <input type='file' name='abc' multiple> `
instead of separate them into several `<input>`s?

When I do that, `req.files` return `null`
Thank you in advance!

[2018-06-23 15:48] ExNG opened #87 "Infinite loading when using express-fileupload"
As soon as i use this library all my endpoints are not reponding. the methods arent being executed.
Some help would be really great :+1:

[2018-06-23 15:49] #87 closed

[2018-07-02 03:44] leviwheatcroft commented on #31
I think what OP is getting at re `!req.files == false` is from the example in the readme:

[code]

if `req.files` is `{}` when no files are received, then this if statement will never be true.

[2018-07-14 09:45] hoangdangal commented on #44
I got this error , how to fix it ? please help and thank.

[2018-07-16 21:37] ryanshores commented on #31
Maybe the readme should be updated. I fixed it by checking for an empty object using
`if( Object.keys( req.files ).length == 0 )`

[2018-07-19 23:25] screenmeet opened #89 "Memory usage and leak problem with large file uploads"
The current implementation blows up the process memory on large file uploads (try with 1GB+ file, for example, and monitor process memory).

We made a PR which uses temporary files to manage the intermediate file uploads instead of using memory.

https://github.com/richardgirges/express-fileupload/pull/88

Enjoy!

[2018-07-20 04:55] richardgirges commented on #85
Hey there, can you provide me some example code? It would make it much easier to figure out whether or not express-fileupload can do anything differently to support the `multiple` attribute within the `<input>` tag.

Thanks!

[2018-07-20 21:09] kyleratti commented on #89
Wow, god bless you! I've been going *nuts* trying to track down a memory leak when uploading files to my API. It works fine locally on my Macbook, but in production on my Ubuntu servers it just eats the RAM until Node crashes. You're the man!

[2018-07-20 22:53] screenmeet commented on #89
@kyleratti You're welcome.

I also observed some different behaviors on different node versions / OS' in terms of memory leakage with the buffers. Sometimes it would just take 2x the file size (70mb would take 140mb), other times, it would jump almost exponentially (a 100MB file would eat 700MB ram).

There was also a secondary issue where if a file was aborted, those intermediate chunks will just

[2018-07-20 22:56] kyleratti commented on #89
@screenmeet yeah, that's what was so confusing about debugging this. The absolute only difference between my environments, aside from OS, was that the final storage was on a NFS-mounted share - but express wasn't even calling my route handler, so there was no way that was related.

I wonder if it makes more sense to save to /dev/shm and then move it?

[2018-07-20 22:59] screenmeet commented on #89
@kyleratti I wouldn't try putting intermediate files anywhere in memory... just too easy to eat eat up all available memory if there are many concurrent uploads or people are uploading large files. Major DDoS vulnerability if you ask me.

[2018-07-20 23:01] kyleratti commented on #89
@screenmeet that's true - my use-case is a private API used to connect a few of my services together so I don't have that concern, but I see your point. You get the speed advantage with /dev/shm going to memory but you're right, you do have to have a chunk of memory reserved for that alone.

[2018-08-21 03:40] louloup22 opened #90 "Encoding type for the buffer representation of the buffer"
Hello, I am trying to upload a word document (.docx) using express-fileupload. This seems to be working but when I'm trying to decode the buffer (I am using Python for that sending the buffer array) it seems I am not using the right decoding (I am trying 'utf-8'). How can I decode properly the buffer and retrieve the text from my document ?

[2018-08-23 05:47] zip520123 opened #91 "(node:25887) ExperimentalWarning: The fs.promises API is experimental"
I got (node:25887) ExperimentalWarning: The fs.promises API is experimental and crash when I try to run example code.
node version : v10.1.0
nom version : 5.6.0
const express = require('express');
const fileUpload = require('express-fileupload');
const app = express();

// default options
app.use(fileUpload());

app.post('/upload', function(req, res) {
  if (!req.files)
    return res.status(400).

[2018-08-27 22:40] TheNexusDesigns opened #92 "Can't get multiple file uploads saved"
Hey,

nevermind fixed it by now :) You can close this or delete it.

[2018-09-01 17:33] #92 closed

[2018-09-15 04:28] Kakakirbz opened #93 "Uploading large files"
Hello! I am in need of big help. I am working on a module of my thesis that specifically can upload multiple files in one input. I tried uploading videos. I can upload videos that has a size of 20mb but when I tried and upload more than 100mb, it returns an error message. The problem is, I can't seem to upload files that are large.

Here is the error message
![image](https://user-images.githubuser

[2018-09-15 04:29] Kakakirbz commented on #85
Here are screenshots of my code.

![image](https://user-images.githubusercontent.com/22406521/45582462-e346fc80-b8e2-11e8-8bc7-a32eb5c919b8.png)
![image](https://user-images.githubusercontent.com/22406521/45582464-e6da8380-b8e2-11e8-950e-1d334e472b3e.png)
![image](https://user-images.githubusercontent.com/22406521/45582465-f22daf00-b8e2-11e8-8cfc-10b884b4dd3e.png)

[2018-09-19 02:39] randomdipesh commented on #93
exactly same issue here
![screenshot from 2018-09-19 08-22-24](https://user-images.githubusercontent.com/25702719/45727914-6fa83680-bbe5-11e8-878e-3df817e0cc8d.png)

[2018-09-19 02:49] randomdipesh commented on #93
Here is how I fixed it :+1:
node_modules>express-fileupload>lib>index.js  and removed md5= md5(buf) on line 146
Its working now

[2018-09-20 07:09] snehap007 opened #94 "mv() is not a function"
we are using express-fileupload npm packge (https://www.npmjs.com/package/express-fileupload)
while uploading file we are facing error of mv() is not a function in below code
` app.post('/upload', function(req, res) {`
  `if (!req.files)`
    `return res.status(400).send('No files were uploaded.');`
    ` let sampleFile = req.files.sampleFile;`
    `// Use the mv() method to place the file somewhe

[2018-09-22 14:13] senakafdo commented on #93
A suggestion for the devs would be to replace `md5: md5(buf),` with `md5: function() { return md5(buf); },` such that somebody can then use it as: `req.files.foo.md5()` - it not only solves this OOM issue but also makes the execution faster.

Also, a slightly better tweak compared to what @randomdipesh suggested would be to include the following in the code:
[code]
And add the following as depende

[2018-09-22 17:14] richardgirges commented on #93
I'm going to take @senakafdo's advice and update md5 to become a method for execution at will, as opposed to a property that's always available on the file object.

I'll try to get this pushed up in a major release sometime in the next week

[2018-09-22 17:51] richardgirges commented on #83
Should be fixed now in `v1.0.0-alpha.1`.

[2018-09-22 17:51] #83 closed

[2018-09-22 17:52] richardgirges commented on #93
Should be fixed in latest release: `v1.0.0-alpha.1`

[2018-09-22 17:52] #93 closed

[2018-09-22 17:57] richardgirges commented on #85
Thanks @Kakakirbz. @tymiao1220 closing this out. Please let us know if you still require assistance.

[2018-09-22 17:57] #85 closed

[2018-09-22 17:58] richardgirges commented on #94
@snehap007 most likely you are not calling your uploaded file's form field `sampleFile`. Can you show us an example of your frontend code?

Thanks

[2018-09-22 17:59] richardgirges commented on #89
Hi @screenmeet, still awaiting linting fixes in the PR. There are also some conflicts now. In the meantime, just wanted to notify everyone that the latest v1.0.0-alpha.1 release should address some memory issues. We are no longer building md5 checksums on every upload as this was non-performant and taxing on memory.

[2018-09-26 04:15] daaashley commented on #94
@richardgirges I'm having this problem too, but .mv works when I load the page in Chrome but doesn't work when I load it in Internet Explorer or Edge. This makes me think it has something to do with the way the package works with these browsers. Any advice?

[2018-09-29 12:55] jurjees23 opened #95 "Regarding file storing"
hi team,
i have one doubt can i store the files in the specific folder.how to i give the path for the directory

[2018-10-02 20:38] maxcr opened #96 "Is there any way to loop through unknown file keys?"
As in if the form is created dynamically with the input name being unknown. Is there any way on the serverside to loop through `req.files` and handle the mv logic?

[2018-10-02 20:52] maxcr commented on #96
Nevermind I figured it out

[code]

[2018-10-05 08:32] itsgracian commented on #54
please can you show me example of how you did it.. for me it does not work. thanks.

[2018-10-05 08:46] itsgracian commented on #54
oooh it works .... thanks...

[2018-10-05 16:52] richardgirges commented on #96
Great! Closing this one

[2018-10-05 16:52] #96 closed

[2018-10-05 16:54] richardgirges commented on #95
Hi there. The `.mv()` function allows you to store files in the path of your choice. You may also be interested in the `createParentPath` option. Check out the docs here: https://github.com/richardgirges/express-fileupload#available-options

[2018-10-05 16:54] #95 closed

[2018-10-05 16:55] richardgirges commented on #94
@daaashley this is a backend package that runs in Node.js. So it's highly unlikely that the browser has any bearing on the way this package works. I would advise you to check out your frontend file upload code for any browser compatibility issues. Please re-open an issue if you discover a problem with express-fileupload :)

[2018-10-05 16:55] #94 closed

[2018-10-09 13:16] RomanBurunkov opened #97 "Uploading more than 5-10 files causes hanging of express app untill upload done"
Hi there,

I use express-fileupload to uploading audio files(mostly mp3 tracks with size about 5-15 megabytes).

Uploading more than 5-10 files in the same time causes hanging of express app untill upload has been done.

Vesrsions:
- Node 8.12.0
- express@4.16.3
- express-fileupload@1.0.0-alpha.1

During upload in progress any requests to express stuck.

My upload code:

[code]
I've added some add

[2018-10-17 23:37] mkh004059 opened #99 "There is no way to add file permissions like chmod 0777 or 0755"
How can I add file permission while saving to server?

[2018-10-18 15:09] richardgirges commented on #31
@MichaelE1 just updated the documentation. Sorry about the confusing docs on this one! @ryanshores's approach is definitely the right way to go when checking for a zero-file upload.

[2018-10-18 15:09] #31 closed

[2018-10-18 15:13] richardgirges commented on #56
Closing as this issue has gone stale and I believe it's resolved now.

[2018-10-18 15:13] #56 closed

[2018-10-18 15:17] richardgirges commented on #54
An enhancement that could help alleviate this issue is to add some sort of "create the directory if doesn't exist" logic to `mv()`. This could be an argument passed into the `mv()` method itself, or as a global `express-fileupload` option.

Need to think about it some more, but I'll keep this ticket open to serve as a reminder for this potential enhancement.

[2018-10-18 15:21] richardgirges commented on #97
This is likely to be a system issue and not an express-fileupload issue. I ran some benchmarks and was able to get closer to 100 parallel uploads on a large virtual server. Closing this out, for now :)

[2018-10-18 15:21] #97 closed

[2018-10-18 15:23] richardgirges commented on #99
express-fileupload doesn't support this functionality. Instead, you'll want to use something like Node's `fs.chmod` on the file, after it's been uploaded.

Docs here: https://nodejs.org/api/fs.html#fs_fs_chmod_path_mode_callback

[2018-10-18 15:23] #99 closed

[2018-10-19 20:45] danikane commented on #91
What's your Node version?

[2018-10-19 20:46] danikane commented on #91
What version of express-fileupload are you using?
Do you get the same with the latest version?

[2018-10-23 07:13] justin7674 opened #102 "Unintended Uploads Permanently Saved"
Whenever you have a post page (REGARDLESS of whether or not it is built to handle files) and you send a file to it, the file will be uploaded to the server and stay for an unspecified time. For example if I had built a POST request to login users from their credentials, a person could simply write a new request sending a file and the server will save that file even though the page was intended for

[2018-10-23 07:14] justin7674 commented on #102
I have to execute this snippet of code on every page request otherwise I am left vulnerable to having my server filled with useless data.

[code]

[2018-10-23 07:41] r3wt commented on #102
how are you attaching the plugin middleware to handle file uploads? sounds like you are handling it as a global middleware rather than as a route level middleware. either way, manual cleanup is required when working with this library in my experience. you can use the tmp package and copy and delete all files, and they will be gc'd at some, similar. i have an example of this i can dig up if you wou

[2018-10-23 19:37] justin7674 commented on #102
This is the code I am using to instantiate.

	app.use(fileUpload({
		limits: {
			fileSize: 1 * 1024 * 1024,
			fields: 50,
			files: 1,
			parts: 51,
		}
	}));

How should I use it for route specific cases?

[2018-10-24 05:39] RomanBurunkov commented on #102
Hi @justin7674 ,

I believe you should specify routes in the use method:

app.use('this/is/my/upload/route', fileUpload({......

[2018-10-24 21:56] r3wt commented on #102
As roman mentioned, you can do it with `app.use()`, however you should be able to add it as top level middleware in express-map-2 as well. depending on your use case it may be simpler to just stick with `app.use()` but below is roughly how to use middleware with `app.map()`(it also supports an array of mixed string/function handlers)

[code]

[2018-10-26 13:05] cosminalco opened #103 "Different way to enable it then app.use()?"
Can be enabled with the format bellow?

`import * as functions from 'firebase-functions'`
 `import * as fileUpload from 'express-fileupload'`
 `export const read = functions.https.onRequest(async (req, resp) => {`
     `if (req.method.toUpperCase() === 'POST') {`
          `// process the form here`
     ` }`
     `response.send('webpage')`
` })`

For functions.https.onReques:

Handle HTTP request

[2018-10-28 00:04] ThatTonybo opened #104 "Looking for some help."
I'm making my own forum app and decided to use this over my own custom implementation for uploading avatars and attachments.

More specifically, I have no idea how to do these two things:
- Add an upload form itself to the users settings page.
- Turn the uploaded image into content that the HTML `<img>` can accept (I store avatars in the database, hashed).

Some help on doing these would be apprec

[2018-10-29 21:22] erictraub opened #105 "Express-fileupload not working when deployed to Heroku"
When I use `express-fileupload` locally it works great.  But when I deploy my app to Heroku `req.files` is always `null`.  Can anyone tell me why this is?  Is it something about not being able to write to the Heroku file system?

There is more detail to my problem in my stack overflow question: [https://stackoverflow.com/questions/53053764/express-fileupload-not-parsing-files-in-heroku](https://st

[2018-11-01 20:52] geetee24 opened #106 "latest library when uploading 3gb file crashes the library"
if one tries to upload a 3gb file, the library crashes.  any suggestions on how to solve this?

[2018-11-08 01:28] richardgirges commented on #104
Hi @ThatTonybo take a look at the example folder here: https://github.com/richardgirges/express-fileupload/tree/master/example

[2018-11-08 01:28] #104 closed

[2018-11-08 01:30] richardgirges commented on #103
Hi @cosminalco, the only supported way to use express-fileupload right now is with `app.use`.

I suppose you could also try to chain it directly in a specific route, like so (beware this isn't officially supported):
[code]

[2018-11-08 01:30] #103 closed

[2018-11-08 01:39] richardgirges commented on #80
@jonas060831 would I be able to trouble you for a demo codebase with this issue replicated? My guess is that there's a problem with another middleware that is clashing with express-fileupload.

[2018-11-08 01:45] richardgirges commented on #102
I'm a little confused because this library is built to upload files _into memory_. Nothing is supposed to get placed on the file system until you intentionally use the `.mv` method.

Can anyone give me some more details on this behavior? Are you seeing uploaded files end up in the `/tmp` directory or something to that effect?

[2018-11-08 01:47] richardgirges commented on #71
Hopefully @sant123's response is helpful. Please let me know if this issue needs to be re-opened.

[2018-11-08 01:47] #71 closed

[2018-11-08 01:48] richardgirges commented on #55
Closing as I believe this is fixed on the latest version.

[2018-11-08 01:48] #55 closed

[2018-11-08 01:48] #77 closed

[2018-11-08 01:49] richardgirges commented on #75
Closing this as it's been a while. Hopefully, @sant123's examples are helpful. Please let me know if this issue should be re-opened.

[2018-11-08 01:49] #75 closed

[2018-11-09 00:12] ksfreitas commented on #106
Take a look in my fork: https://github.com/ksfreitas/codebit-express-fileupload/blob/master/README.md#codebit-express-fileupload

[2018-11-11 08:37] justin7674 commented on #102
Correct, in this case the tmp directory for my server is the root directory of the server.

[2018-11-11 17:53] richardgirges commented on #102
Great, thanks @justin7674 !

[2018-11-11 17:53] #102 closed

[2018-11-17 11:36] Nasirkhan-259 commented on #45
Well there should be a temp path as i wanted to skip that part to upload to a tmp path and then process :(

[2018-11-18 18:42] richardgirges commented on #45
@Nasirkhan-259 there's an open PR #88 which provides you with the option to upload directly to a tmp path on the filesystem. The PR has conflicts though - happy to take a different PR if someone is willing to build out this functionality.

[2018-12-12 13:32] Mritunjay10 commented on #54
sampleFile.mv(path.dirname(require.main.filename)+'/public/uploads/users/CSELL_'
            +operations.randomNumber(4)+"_"+moment().valueOf()+extension, (err)=> {

            if(!err)
                fileUploadStatus=true;
        });
No value is assigned to fileUploadStatus

[2018-12-19 03:14] scheng123 commented on #85
Hold on, does uploading multiple files turn the req.files.FILENAME into an array?

[2018-12-19 03:14] scheng123 commented on #85
So I can handle the array and I'll be find and dandy right?

[2018-12-28 15:50] richardgirges commented on #106
This is resolved by PR #109 - you can now use temp file uploads instead of uploading directly to memory.

[2018-12-28 15:50] #106 closed

[2018-12-28 15:51] richardgirges commented on #89
Resolve by #109

[2018-12-28 15:51] #89 closed

[2018-12-28 15:52] richardgirges commented on #51
Resolved by #110

[2018-12-28 15:52] #51 closed

[2019-01-09 11:33] bitlab-code opened #113 "ERR_STREAM_WRITE_AFTER_END"
Hi,
if I run one request at a time everything works properly, but if I run two simultaneous requests the app crashed:
my app.js
[code]
the log in console:
[code]

edit:
this is error_log of apache:
[code]
Any advice on how I can fix this?
Thanks

[2019-02-05 10:36] RomanBurunkov opened #114 "Path to temp files."
According to the documentation it is possible to set path to store temporary files when useTempFiles set to true.

I've set tempFileDir : '/tmp/', so middleware should save files to the '/tmp/' folder.
But it saves it to the 'tmp' folder in the folder for the middlewhare module, mean '/app/node-modules/express-fileupload/tmp/'.

Is that correct or it saves files in the both folders or there are so

[2019-02-06 15:16] RomanBurunkov commented on #113
I got the same error while uploading several files with a useTempFiles set to true.

Looks like useTempFiles feature not able to work with a several uploads at one time.

[2019-02-06 15:17] RomanBurunkov commented on #113
@richardgirges Do you have any ideas, plans to resolve that?

[2019-02-06 15:22] RomanBurunkov commented on #113
Well, I think I got the point, it is probably related to the following lines in tempfiles module:

`
tempFilePath = dir + 'tmp' + Date.now();
writeStream = fs.createWriteStream(tempFilePath);

`

Checking that...

[2019-02-06 15:36] bitlab-code commented on #113
@RomanBurunkov A month without answers... maybe the project is abandoned.
If you need to fix, take a look to this package: https://github.com/expressjs/multer

[2019-02-06 15:39] richardgirges commented on #113
This project isn’t abandoned, I apologize as I’ve been busy with work commitments.

I’ll take a look tonight.

[2019-02-06 15:44] RomanBurunkov commented on #113
@bitlab-code , probably you are right...

@richardgirges

My first suggestion that's not the issue...but may be in some cases it could be.

I suppose that problem in using one stream for several uploads.
It looks that tempfiles module use one stream closed in module for any upload, is that correct doing that?

I don't have a lot of experience with the streams, but I suppose that we should have dif

[2019-02-06 15:58] RomanBurunkov opened #115 "Add file size details to the result object"
It would be nice to have uploaded file size in bytes within resulting file object.

For both handlers(mem, temp) it is quite easy to add this, but need some integration with the main module.

[2019-02-06 23:42] shyamvir2506 commented on #10
Hi @bpiv400 ,
this package is supporting uploading multiple files from a single input tag with the multiple attribute. Something like this:
`<input type="file" name="myPictures" multiple></input>`

You can upload files like below.

app.post('/', function(req, res){
    if(req.files){
        var file = req.files.filename;
        for(var i = 0 ; i < file.length; i++){
            file[i].mv('./upl

[2019-02-07 08:31] RomanBurunkov commented on #114
It looks like I got some old code from npm, cause I see that I have

  const dir = __dirname + (options.tempFileDir || '/tmp/');

insted of

  const dir = options.tempFileDir || process.cwd() + '/tmp/';

Which persist in a git repository.

[2019-02-08 15:11] adamasantares opened #117 "Note: request.files undefined"
If anyone will get this issue even they have no mistakes with encType.
I got problem of undefined just because I've inserted ```app.use(fileUpload());``` after another app.use(),
so just know that it must be inserted by this way:

[code]

[2019-02-08 15:33] RomanBurunkov commented on #113
Hi @richardgirges , have you had a chance to check this issue or/and my PR?

[2019-02-08 17:39] SunilJamkatel commented on #117
Still showing undefined on mine, any fixes?

[2019-02-08 23:07] richardgirges commented on #113
v1.1.1-alpha.2 has been published to NPM with @RomanBurunkov's fix.

https://github.com/richardgirges/express-fileupload/releases/tag/v1.1.1-alpha.2

Thanks @RomanBurunkov !

[2019-02-08 23:07] #113 closed

[2019-02-11 04:47] RomanBurunkov commented on #117
For me this question in not about this module.
It is about how to use middleware in Express...

[2019-02-11 10:26] kittaakos opened #118 "[question] File upload without `useTempFile` results in empty files"
My files are created but the content is empty after calling `mv` on the `UploadedFile`. I am using `"express-fileupload": "^1.1.1-alpha.2"`.

[code]

The files I am trying to upload.
[code]

The buffer-based move logic never runs because the [`!options.tempFilePath` is `false`](https://github.com/richardgirges/express-fileupload/blob/f9d7bbd792523ea40570d20123f431c8ba70070d/lib/fileFactory.js#L20)

[2019-02-11 10:43] RomanBurunkov commented on #118
Looks you are right.

this tempFilePath allways has a value, probably it is a not best way for such check.

I'm currently working on some changes for this module and they also will fix this issue.

[2019-02-11 10:50] kittaakos commented on #118
Awesome. ❤️ Let me know if there's anything I can assist you.

As a workaround, I did this for now:
[code]

[2019-02-12 06:37] RomanBurunkov commented on #118
Hi, @kittaakos , @richardgirges

I've created some changes which will fix that issue. please see PR #119

[2019-02-12 07:14] kittaakos commented on #118
@RomanBurunkov, I have checked out the [`master` of your fork](https://github.com/RomanBurunkov/express-fileupload/tree/master); unfortunately, I had test failures. I am more than happy to verify your changes once more when the build is fixed.

[2019-02-12 09:01] RomanBurunkov commented on #118
@kittaakos Fixed some typos and erros. All tests passed ;)

[2019-02-12 09:07] kittaakos commented on #118
Nice. I can confirm, my example from above works with your changes 🎉

[2019-02-12 14:40] kittaakos opened #120 "`Error: Can't set headers after they are sent.` when uploading the same files multiple times"
I am trying to upload multiple files to my mock server. The first upload ["works"](
https://github.com/richardgirges/express-fileupload/issues/118#issuecomment-462286087), but when I have another POST request with the same files, I have the following error. What am I doing wrong? Thank you!

Bare minimum of my code:
[code]

POST:
[code]

Logs:
[code]

[2019-02-12 14:57] RomanBurunkov commented on #120
The first issue I can see that your code can sent 200 OK and then sent 500 Error if something went wrong during moving files.

[2019-02-12 16:02] kittaakos commented on #120
@RomanBurunkov, your remark helped a lot. I was blind. Thank you!

[2019-02-12 16:02] #120 closed

[2019-02-13 11:01] dlazzy commented on #38
Hello,

I'm reopening this issue because I think I forgot something to pass in **.mv()** function. Everything works, but the http POST stuck pending because nothing is returned. Here the `console.log('here')` is never shown in console :

[code]

Even with the output produced by the **morgan** package I don't see the call, but the file is created in the right folder :thinking: Thanks for you help

[2019-02-13 11:03] dlazzy opened #121 "Cannot pass in .mv() function"
Hello,

I'm reopening this issue because I think I forgot something to pass in **.mv()** function. Everything works, but the http POST stuck pending because nothing is returned. Here the `console.log('here')` is never shown in console :

[code]

Even with the output produced by the **morgan** package I don't see the call, but the file is created in the right folder :thinking: Thanks for you help

[2019-02-13 12:57] yianni-ververis commented on #114
try './tmp/

[2019-02-13 14:05] RomanBurunkov commented on #114
Hii @yianni-ververis , this issue was fixed it the last alpha.

[2019-02-13 14:05] #114 closed

[2019-02-15 12:46] hberntsen opened #122 "moveFromBuffer function unreachable"
I have an issue with the `mv` function:
[code]

So I looked at the code and found that there is a possibility to directly write from memory to a file: https://github.com/richardgirges/express-fileupload/blob/98e873c172b59190012a936e988ed1f64d3b10a4/lib/fileFactory.js#L20

In my experiments, even when `useTempFiles` is false, it still uses temporary files. When I remove the `&& !options.tempFilePat

[2019-02-18 05:08] RomanBurunkov commented on #122
Hi, issue with 'useTempFiles' was fixed in my PR #119.
Currently waiting review from @richardgirges.

[2019-02-18 20:40] richardgirges commented on #118
v1.1.1-alpha.3 released on NPM: https://github.com/richardgirges/express-fileupload/releases/tag/v1.1.1-alpha.3

[2019-02-18 20:40] #118 closed

[2019-02-18 20:40] richardgirges commented on #122
v1.1.1-alpha.3 released on NPM: https://github.com/richardgirges/express-fileupload/releases/tag/v1.1.1-alpha.3

[2019-02-18 20:40] #122 closed

[2019-02-18 20:42] richardgirges commented on #117
@adamasantares I don't think I understand the question. Can you tell me what middlewares you're loading before expressFileupload() that may be causing issues?

[2019-02-18 20:42] #117 closed

[2019-02-21 11:28] NiciusB opened #123 "Show warning when md5 and tempFileMode are used together"
Hey! As mentioned in the documentation, md5 does not work when tempFileMode is used.

While support for it could be added in the future, right now calling md5 with tempFileMode returns a hash of something(?) without any warnings.
This can create confusion, especially is someone didn't read the warning on the docs

[2019-02-22 09:09] RomanBurunkov commented on #123
In case of tempfileMode it currenlty returns md5 of empty buffer.

Need to create method to compute md5 with support of large files without huge memory consuption.
Like it did in md5-file module. Or just add md5-file to dependancies and use it in case of tempfileMode;)

[2019-02-22 09:22] NiciusB commented on #123
If @richardgirges is fine with it, I'll create a pull request to use md5-file

[2019-02-22 09:28] RomanBurunkov commented on #123
Hi @NiciusB , since data handlers works with buffers, I think the better way is to add md5 calculation into data handlers(both temp and in memory), by using

const hash = crypto.createHash('md5')

and method hash.update(buffer.slice(0, bytesRead)), like it did in that module.

And in fileFactory instead of returning a function for md5, return already calculated md5 hash.

[2019-02-24 22:13] samuelguesnier commented on #39
same issue. Ubuntu 18.04.1 LTS 64 bits
node 8.7.0
 express file upload 1.1.1-alpha.2

code:
[code]

[2019-02-25 04:33] RomanBurunkov commented on #39
Hi, you should try the latest version 1.1.1-alpha.3

[2019-02-25 08:19] RomanBurunkov commented on #121
Do you use useTempFiles option or upload files into a memory?

[2019-02-25 10:54] dlazzy commented on #121
This is the config I use :

[code]

What do you mean by 'lates' ? Currently this is the version I use : `"express-fileupload": "^1.1.1-alpha.2"`

Thanks

[2019-02-25 11:18] RomanBurunkov commented on #121
Hi @dlazzy ,

I meant 'latest', sorry for typo.
Currently it is '1.1.1-alpha.3' and there are some fixes for mv method in it.

[2019-02-25 11:32] dlazzy commented on #121
Thanks for your answer, so I updated to **alpha.3** but it's not working :confused:

Here is my code :

[code]

And the `console.log('here');` is not shown in logs.
Maybe because **express-fileupload** is done in my server.js and then used in imported Routes ?

I mean :

[code]

[code]

[2019-02-25 11:37] RomanBurunkov commented on #121
Hm...it looks fstream from fileFactory.js doesn't emmit 'close' event.

Line 89:

        fstream.on('close', function() {
          successFunc();
        });

[2019-02-25 11:39] dlazzy commented on #121
So it mean that a module issue ? :confused:

[2019-02-25 11:41] RomanBurunkov commented on #121
@dlazzy , probably so.

Try to change 'close' to 'finish' in your local fileFactory.js at line 89 and test it again ;)

[2019-02-25 11:46] dlazzy commented on #121
This has no effect, I double tried but no changes. For other purpose I need to use Node 7.8.0, this can be a problem ?

[2019-02-25 12:43] samuelguesnier commented on #39
Thanks it works now

[2019-02-25 15:15] RomanBurunkov commented on #121
Well, currently I don't have any ideas what else can be wrong....but you can try to use useTempFiles: true, as a temporary solution.

[2019-02-25 15:17] dlazzy commented on #121
Yeah no problem I'll do this ;) And closing the issue, it's not a big bug, for me !

[2019-02-25 15:17] #121 closed

[2019-02-26 16:00] pdumais opened #125 "mv does not work accross filesystems"
If using a temp path and doing mv() across filesystems, we get an error "EXDEV: cross-device link not permitted"

I believe this is due to the underlying call to rename()

[2019-03-01 14:59] RomanBurunkov commented on #125
Yeap, looks it need to be changed to use based on streams copy + unlink instead of rename.

[2019-03-05 05:03] RomanBurunkov commented on #91
I suppose this issue can be closed since no activity for a long time, and it probably had been resolved.

[2019-03-05 05:03] #91 closed

[2019-03-06 14:32] RomanBurunkov commented on #125
I've fixed this issue in my local version and going to add that fix with a next PR if @richardgirges will have a chance to review and publish the current one.

[2019-03-06 23:32] richardgirges commented on #125
@RomanBurunkov I've created a new release with your merged PR: https://github.com/richardgirges/express-fileupload/releases/tag/v1.1.2-alpha.1

Feel free to update the release notes and close any issues that you've resolved.

(I still need to give you npm publish access, haven't forgotten)

[2019-03-07 04:49] RomanBurunkov commented on #123
md5 now works for both options: in memory and tempFile.

[2019-03-07 04:49] #123 closed

[2019-03-07 04:51] RomanBurunkov commented on #115
Resolved.

[2019-03-07 04:51] #115 closed

[2019-03-07 05:14] RomanBurunkov commented on #80
The error:
  Error: Unexpected end of multipart data

is throwing by busboy, it looks that something wrong with a data comming to it.

As a result you got the next one: Cannot read property 'imageinput', because express-fileupload hadn't add it to the files object.

@jonas060831 if this issue still actual probably you should to create an issue with busboy.

[2019-03-07 05:15] RomanBurunkov commented on #80
Some cooments about it from stackjoverflow:

[2019-03-07 05:37] RomanBurunkov commented on #90
Hi @louloup22 ,

Issue description is quite vague, please ellaborate it.

[2019-03-07 09:40] RomanBurunkov commented on #41
Closing that since suitable workaround has been proposed and there are no updates for a long time.

[2019-03-07 09:40] #41 closed

[2019-03-08 16:26] below-1 commented on #117
Ensure you includes "Content-Type: multipart/form-data" in your header. Specially when using Postman

[2019-03-11 05:55] RomanBurunkov commented on #90
Closing, since this is no longer relevant.

[2019-03-11 05:55] #90 closed

[2019-03-11 05:56] RomanBurunkov commented on #80
Closing since it doesn't look like this middleware issue and probably this is no longer relevant.

[2019-03-11 05:56] #80 closed

[2019-03-11 05:59] RomanBurunkov commented on #54
mv function now creates parent path if option 'createParentPath' set, see documentations.

[2019-03-11 05:59] #54 closed

[2019-03-11 06:14] RomanBurunkov commented on #125
That was fixed in 1.1.3-alpha1

[2019-03-11 06:14] #125 closed

[2019-03-11 19:33] BevilaquaBruno opened #128 "EACCES error"
When i try to use `file.mv()`:
[code]
I am using the version `^1.1.2-alpha.1`
I do not know if this is a bug or a permission denied, but i can not fix it.

My app.use():
[code]

My code:
[code]

[2019-03-12 05:02] RomanBurunkov commented on #128
Hi @BevilaquaBruno ,

That is wired, could you please check and confirm that you are using the following options:

`{useTempFiles: true, tempFileDir:'./temp/'}`

 when getting this error:

`{
 "error": {
   "errno":-13,
   "code":"EACCES",
   "syscall":"rename",
   "path":"/tmp/tmp1552332077101",
   "dest":"./static/img1552332077102.jpg"
 }
}`

Asking that because I see different paths: tempFileDi

[2019-03-12 05:11] RomanBurunkov commented on #128
My main suggestion that you should use absolute path when setting tempFileDir.

[2019-03-12 10:57] BevilaquaBruno commented on #128
I am using `/temp` in my temporary folder.
When i use the absolute path i get a different error:
[code]
Now i think this is a permission error

[2019-03-12 10:58] BevilaquaBruno commented on #128
I fix it giving the permission with `sudo chown -R MY_USER /temp` and `sudo chown -R MY_USER /static` .
So thank you for the help !

[2019-03-12 11:03] #128 closed

[2019-03-12 14:07] janoist1 commented on #105
I'm having the same issue on Firebase functions.

[2019-03-13 03:24] sistemasnegros opened #129 "bug in filename tmp multi file conflict with same name and time"
**bug in filename tmp multi file conflict with same name and time.
File tempFileHandler.js**

`const fs = require('fs');
const path = require('path');

module.exports = function(options, fieldname, filename) {
  const dir = path.normalize(options.tempFileDir || process.cwd() + '/tmp/');

  if (!fs.existsSync(dir)) {
    fs.mkdirSync(dir);
  }
  let tempFilePath = path.join(dir, 'tmp' + Date.now())

[2019-03-13 04:45] RomanBurunkov commented on #129
Hi, @sistemasnegros

I also mentioned that such naming could lead to problems.
Have you faced this issue?

Also I don't think with this a good idea to use filename, because it could be unsafe.

I have several ideas about that:

- Use processed filename, like it done with option safeFileNames.
- Add some random number to the file name.
- Use uuid v4 for naming.

[2019-03-13 04:59] RomanBurunkov commented on #129
Probably we can add something like that to the utilities module and use this function to generate more unique file names:

`//Parameters which used to generate unique temporary file names
const TEMP_COUNTER_MAX = 65536;
const TEMP_PREFIX = 'tmp';
let tempCounter = 1;

/**
 * Generates uniq file name.
 */
const getTempFilename = (prefix) => {
  prefix = prefix || TEMP_PREFIX;
  tempCounter ++;
  if

[2019-03-13 12:33] sistemasnegros commented on #129
thanks! you solution!
but solved my problem the cuncurrense in mutiple file.
[https://www.npmjs.com/package/short-id](https://www.npmjs.com/package/short-id)

`let tempFilePath = path.join(dir, 'tmp' + filename + shortid.generate() + Date.now());`

[2019-03-14 10:44] RomanBurunkov commented on #129
That should be fixed with PR #130.

[2019-03-19 06:09] #129 closed

[2019-04-01 08:46] crizant opened #138 "Callback on abort?"
Hi, is it possible to add a `onAbort` callback like:

[code]

So that I can do custom actions, e.g. throw an error, or return a JSON response on abort?

[2019-04-01 08:56] RomanBurunkov commented on #138
Hi, that feature will be available in next release.

In a meantime you can try 'responseOnLimit' option, just set it to your stringified JSON response.

[2019-04-01 09:04] crizant commented on #138
but under the hood the content type will not be `application/json` :(

btw i have another request, is it possible to set the list of allowed mime-types, or just `image/*`?

[2019-04-01 09:08] RomanBurunkov commented on #138
I see...but that can work as a temporary workaround.

According your secont question.

I'm also working on aditional onFileHandler which will provide you an ability to apply some filters before uploading process started and cancel it if e.g. mime type doesn't match.

[2019-04-01 10:17] crizant opened #139 "Empty buffer data?"
Here is my settings:

[code]

then I read the file in `req` object:
[code]

The result is `0`.

[2019-04-01 10:24] RomanBurunkov commented on #139
I don't see any issues in that.

You can get file data only in case of in memory upload(useTempFiles: false).

[2019-04-01 10:29] crizant commented on #139
Oh, please state this behavior in the documentation.

BTW if I want to use `useTempFiles: true` and get the buffer, I need to use `fs.readFileSync(image.tempFilePath)`?

I think the library should provide a handy function to do it.

[2019-04-01 10:43] RomanBurunkov commented on #139
That leads to the issues with performance or memory in case of large files.

E.g reading in to the RAM 3Gb size file for sure will cause out of memory issue.

This module just provides you ability to chose where to store uploaded data: in to the RAM or to a temporary file and if you chose RAM it provides a buffer with file data.

But you should use memory for upload or reading huge files into it r

[2019-04-02 07:22] RomanBurunkov commented on #139
This was documented.

[2019-04-02 07:22] #139 closed

[2019-04-02 07:23] RomanBurunkov commented on #138
User defined limit handler now can be added via limitHandler option.

[2019-04-02 07:23] #138 closed

[2019-04-13 16:32] jeanmarie-dormoy opened #141 "uploaded_file.mv() is overridden by cleanDir"
Sorry, I have an issue:

I call cleanDir before mv.

cleanDir is a personal function which deletes all files in the directory where uploaded_file will be stored. But somehow, I guess that uploaded_file.mv() is faster than cleanDir.

If i do two successive POST requests in postman, the first post will upload the file to the right directory, but the second post will delete it instead of deleting it

[2019-04-13 16:42] RomanBurunkov commented on #141
Clearing folder while multiple uploads sounds crazy for me.

[2019-04-13 18:30] jeanmarie-dormoy commented on #141
I don't do multiple uploads while clearing folder. I just want to clear contents of folder and then upload the file to that folder. It is for a project and we need to delete old version of the file before uploading the newest version, so no, it is not that crazy.

[2019-04-13 18:42] RomanBurunkov commented on #141
I see, but I bet you do ;) Any way, probably deleting only uploaded file, instead of clearing whole folder will do the job ?

[2019-04-13 20:22] Binary-Eater opened #142 "Should use strict comparison in the fileupload example README"
Probably want to change
`if (Object.keys(req.files).length == 0) {`
 to
`if (Object.keys(req.files).length === 0) {`
in `example/README.md`.

[2019-04-15 13:58] Suley commented on #58
Have you fixed it yet? Thanks.

[2019-04-19 17:17] jp06 opened #143 "Add a "responseType" or something as an option"
The responseType I mean refers to the response type of abortOnLimit. You can for example set response type to JSON string. The option has a default of HTML or whatever's currently in use.

[2019-04-20 04:41] jp06 commented on #143
Nevermind, I just saw `limitHandler`.

[2019-04-20 04:41] #143 closed

[2019-05-08 13:36] rajatsehgal2010 opened #144 "I have used apostrophe in filename then it is replaced by %22, Any method to preserve filename?"

[2019-05-09 16:39] r3wt opened #145 "is it safe to overwrite the buffer with another buffer?"
looking at the source, it looks like it should be safe. the reason i want to do it, is because i need to resize the image, but then i want to use the `mv()` function to move it after i resize it. it should work right?

[2019-05-22 08:03] RomanBurunkov commented on #145
Hi,
I reckon that should be ok, but I would recommend using useTempfiles: true and process temporary file and then move it.

In memory upload can be dangerous in case of huge uploaded files size.

[2019-05-22 08:10] RomanBurunkov commented on #144
Hi, could you clarify the following:

1. Do you use useTempFiles option.
2. Do you use mv method.
3. Do you see name with %22 in the 'file' object or it appears on the filesystem?

Your code examples also could be helpfull.

[2019-05-22 08:23] RomanBurunkov commented on #144
Also you can use 'safeFileNames' or module like urldecode to parse file name.

[2019-05-22 09:07] rajatsehgal2010 commented on #144
I have used mv method, and it appears on the filesystem.

[2019-06-03 16:27] wayofthefuture opened #147 "Can't end the request in the limit handler."
I cannot end the request in the limit handler. It continues to the next route, which then tries to set headers, which then causes the error "Can't set headers after they are sent."

[code]

[2019-06-04 17:02] wbulot opened #148 "How to clean up temporary files when the user cancels the transfer before the end?"
Do I have a way to delete temporary files in case the user's upload does not succeed?
My application handles a lot of uploads and the fact that I can't clean up temporary files is a big problem.
I could do a recurring task but I have no way to dissociate the temporary zombie files from those currently in use.

Any ideas ?

Thank you

[2019-06-04 18:30] r3wt commented on #148
you could have a process run periodically that:

1. reads the tmp dir using `fs.readDir()`
2. iterate over the files returned, and make a call to `fs.fstat()` for each.
3. check to see if the `atime` of the file returned from `fs.fstat()` is older than 1 hour (assuming no file upload could still be processing after an hour), and if so delte the file.

[2019-06-05 08:21] RomanBurunkov commented on #147
Hi, you can try it this way:

[code]

[2019-06-05 08:27] RomanBurunkov commented on #148
Hi,

Can you clarify steps how to reproduce this issue and show your code examples?

[2019-06-05 09:26] RomanBurunkov commented on #148
This middleware built on busboy, and as far as I can see busboy doesn't handle connection abort from the client side.

Probably request close event can help to deal with such cases.

[2019-06-05 15:51] wbulot opened #149 "Can't upload file larger than ~3 GB"
Hi Everyone,

I just notice that I was unable to upload a file larger than 2 or 3 GB.
I'm not sure about the precise limit because sometimes it works for the same file that is around 2GB, but it never works for files that are more than 3GB. My server has 20gb of RAM so I don't think it is a memory issue.

This is the error message :

[code]

This is my test server.js :

[code]

[2019-06-05 16:16] RomanBurunkov commented on #149
Files too large for in memory upload.
It looks there are some limitations in node's standard module buffer.

Do you have the same issue with useTempFiles: true?

[2019-06-05 16:44] wbulot commented on #149
Indeed, seems like I don't have the issue with useTempFiles.
But I would like to use memory because of [Issue 148](https://github.com/richardgirges/express-fileupload/issues/148) and for performance reasons.
There is no way to avoid this "memory" problem ?

[2019-06-05 17:07] wbulot commented on #148
How can I use the "close" event in my case?
Would I be able to retrieve the path of the previously used tmp file to clean it ?

This is my test code using tmp files :
[code]

[2019-06-06 07:37] RomanBurunkov commented on #149
I see.

My assumption that it is a node issue.
Buffer.concat not able to deal with a huge buffer arrays.

Which node version do you use?

[2019-06-06 08:45] RomanBurunkov commented on #149
I've checked node docs and found out a node limitation for a single buffer size:

On 32-bit architectures, this value is (2^30)-1 (~1GB). On 64-bit architectures, this value is (2^31)-1 (~2GB).

This is why you are getting such errors for 'in memory' upload.

[2019-06-06 10:03] RomanBurunkov commented on #148
Well probably request close event is not very good idea since it also doesn't fire in some cases.

One thought I have is to add a timeout, e.g 60 seconds and sets it every time when got file data and also clear it if got file's finish event.

If haven't got data during 60 seconds, cancel upload and clear all saved before data.

[2019-06-06 12:45] wbulot commented on #149
It looks like this [article](https://airbrake.io/blog/nodejs-error-handling/err_buffer_too_large) refers to the same error.
It seems that the buffer.js constructor is [deprecated](https://github.com/nodejs/node/blob/master/lib/buffer.js#L149-L159) and that there is a new ways to manage this.
I'm not an expert at all and pretty new to nodejs thus I don't know if that would actually solve this probl

[2019-06-07 10:41] RomanBurunkov commented on #144
Hi @rajatsehgal2010 ,

I've added option for this issue: uriDecodeFileNames, see readme doc.

[2019-06-07 11:13] #144 closed

[2019-06-07 15:00] r3wt commented on #148
@wbulot

Here is what i am using. Its a scheduled job that runs every day at 1am similar to how cronjobs work.

[code]

[2019-06-08 12:50] anneb opened #151 "typo in Readme.md"
The description for 'abortOnLimit' says .... it will otherwise add

truncate = true

This should be

truncated = true

[2019-06-12 11:44] fatchan commented on #148
@wbulot How about this?

To remove temp files in a failure case:
[code]
Should handle deleting the temp files with a few advantages:
1. Removes temp files for all files in req.files, not just the ones you expect. Currently an uploaded file can come under any name in the form and it will be saved as a temp file. I dont think there is a busboy option for this. You can limit the _number_ of files or

[2019-06-12 13:22] wbulot commented on #148
Hi @fatchan

Thank you for your answer but the code will never be executed in the specific case I describe.
Indeed, the code is only executed at the end of a successful transfer.
In the event that the user cancels a transfer in progress, no error is triggered and the code inside the /upload route is not executed.
I therefore have no way to handle a cancelled transfer except with workarounds like t

[2019-06-12 16:03] fatchan commented on #148
No worries, this was just a musunderstanding. The body of the question does not exactly match the title. The question mentioned "user's upload does not succeed" whereas the title is about cancelling/aborting upload. My answer was to address failed uploads.

-----

OK I did some more messing around and came up with this:
In `lib/processMultipart.js` I made a few changes:
[code]
The `aborted` event

[2019-06-17 14:22] wbulot opened #153 "How to execute code at the start of the upload ?"
Hi Everyone,

I would like to control if a user is allowed to upload a file or not.
I could write the logic inside my post route but the code is executed only when all transfers are done.
Which means if it is a big upload, I can return a "not allowed" response to the user only at the end of the transfer.
This is a problem for me because it waste bandwidth and time, and in a case of captcha check,

[2019-06-22 01:31] colejohnson66 commented on #153
This would need to be solved clientside most likely

[2019-06-23 18:31] wbulot commented on #148
I would also like to point out that I have tried some methods proposed above, namely deleting temporary files with a regular check. It seems that this is not possible because the node process always has the tmp files open. fs.unlink will work but the OS will not free up the space (verifiable with the lsof +L1 command).

@fatchan Thank you for your answer.
It seems that what you're proposing would

[2019-06-30 13:56] Loxoz opened #154 "req.files is null"
[code]

[2019-07-01 15:00] RomanBurunkov commented on #154
Don't see any issues from your description....
It looks there is no multipart data, so req.files is null.

[2019-07-03 09:03] Truth1984 opened #155 "bugs for limitHandler and Number of file you can upload"
So basically there are two bugs.
1. If I set `useTempFiles: true`
I want to remove the file after I hit the limit, and i will use
[code]
However, in this case, `req.files == null`, thus the file will remain on your disk then if I keep spamming, it will take all the space of your disk and crush the server.

2 I can't find anywhere to limit the amount of files of your uploads.
Thus, If I set `fileSi

[2019-07-03 09:24] RomanBurunkov commented on #155
Invoking cleanup function in limit handler should help in case of

It can be added in to the processMultipart.js before  lines 46, 50.

[2019-07-03 09:30] Truth1984 commented on #155
And maybe add `ext` for file Obj ? so it's easy to check ext with mimetype and use mv() ?

[2019-07-03 09:33] RomanBurunkov commented on #155
I didn't catch your update about ext.
Can you ellaborate it.

[2019-07-03 09:37] Truth1984 commented on #155
example:
[code]
I can upload multiple files with different mimetype in a form right,
so it's easy to use `mv()`
as `mv(path.resolve(dir, yourDesiredFilename+ext))`

[2019-07-03 09:45] RomanBurunkov commented on #153
I reckon it is possible to add additional handler for that.

[2019-07-03 09:55] RomanBurunkov commented on #155
I see, but probably it should be a separate issue.

Still thinking about how to resolve cleanup and limits issue.

[2019-07-12 14:58] bigjoevtrj commented on #154
+1

same problem here.

[2019-07-12 15:59] bigjoevtrj commented on #154
Problem found guys in my case,
If you're using fetch, you cannot use 'Content-Type' headers, it messes with boundary data, just use the FormData in post body and it works, fetch build the correct Content-Type to the request.

[2019-07-19 14:15] ld7ca opened #156 "Property 'mv' does not exist on type."
Hi,
I'm new to express-fileupload and facing a problem with .mv()...

Some code:
[code]

`mv()` is marked in my editor with this error: `Property 'mv' does not exist on type 'UploadedFile[]'.ts(2339)`

Types are installed. name, encoding, size etc. aren't available too. What am I doing wrong?

Greetings and many thanks,
Lukas

[2019-07-19 18:53] ld7ca commented on #156
I can 'fix' this by removing `UploadedFile[]` from the index.d.ts. But what is the real solution?

[2019-08-06 11:09] mathewk2017 commented on #10
Hi, @shyamvir2506 it is not working for me.can you log that file variable so that I can check where I went wrong

[2019-08-06 11:11] mathewk2017 commented on #92
hi @TheNexusDesigns  can you upload the snippet?

[2019-08-11 01:34] anneb opened #158 "mv slow, always uses copyFile, even if fs.rename is possible"
After uploading a large file (using tempfiles), the mv function may take quite some time, because the tempfile is being copied instead of being renamed. This takes more time and requires more available disk space.

Pull request https://github.com/richardgirges/express-fileupload/pull/157 tries to rename the file and resort to copyFile only if the rename should fail.

[2019-08-14 16:47] r3wt commented on #148
@wbulot an update to my solution above, you are correct. fs.unlink doesn't release the file handles, so the OS never free's the diskspace. We are working around this by truncating the file before calling unlink, and it seems to do the trick. we also have a job to restart the app every 24 hours to release the open handles. hope it helps. i've updated my code above, but here's whats changed for brev

[2019-08-14 19:20] wbulot commented on #148
@r3wt That's exactly what I'm doing.
It solves the space problem, but in reality, the files are still there.
It's still a worthwhile workaround.

[2019-08-19 11:54] l2ubin commented on #153
You could easily set the limit on file.

[2019-08-19 13:32] wbulot commented on #153
@l2ubin
Not sure I understand what you're proposing here. If it's to put a limit on the files sizes to upload, it's not my need. I would like to authorize or not a user to upload a file according to a personalized logic (token, captcha, ip, user agent, account or other). Server side of course, not client side.
So I need to access the user's request before all the files are uploaded. Which is not p

[2019-08-26 15:26] MeetPing opened #159 "Undeefined"
TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at /home/samuel/Asiakirjat/Catvids/node.js:16:16
    at Layer.handle [as handle_request] (/home/samuel/node_modules/express/lib/router/layer.js:95:5)
    at next (/home/samuel/node_modules/express/lib/router/route.js:137:13)
    at Route.dispatch (/home/samuel/node_modules/express/lib/router/route.js:112:3

[2019-08-26 15:26] MeetPing commented on #159
@richardgirges

[2019-09-05 15:42] rip32700 commented on #156
Same issue here.

[2019-09-09 04:49] RomanBurunkov commented on #159
Hi @MeetPing could you ellaborate your issue.
That looks like an error in your code.

[2019-09-09 04:52] RomanBurunkov commented on #158
Hi @anneb , from the best of my knowledge that was changed from move to copy because mv method doesn't work if you try to mv file between different partitions.

Does your change work for such cases?

[2019-09-09 05:07] RomanBurunkov commented on #156
I'm not familar with TS, but that doesn't look like this module issue, probably You're getting this error because there's no type definition for the mv property. You should add the type definitions for the middleware to add mv to the file object.

[2019-09-09 05:08] #145 closed

[2019-09-09 05:13] RomanBurunkov commented on #151
Thanks, I've updated readme.

[2019-09-09 05:13] #151 closed

[2019-09-09 05:16] #154 closed

[2019-09-09 10:11] anneb commented on #158
Indeed, the standard rename method does not work across partitions. For this reason, the code in the pull request first tries a rename and resorts to 'copy' if the rename should fail.

If this code is applied, It is advisable (not required) to store temp files on the same partition as uploaded files to improve performance.

[2019-09-10 03:52] LucasPenen commented on #159
Same way here!
If I only put the basic example:

const fileUpload = require('express-fileupload');
const app = express();

const PORT = 3000;
app.use('/form', express.static(__dirname + '/index.html'));

// default options
app.use(fileUpload());

app.get('/ping', function(req, res) {
  res.send('pong');
});

app.post('/upload', function(req, res) {
  let sampleFile;
  let uploadPath;

  if (Object

[2019-09-10 05:08] RomanBurunkov commented on #159
According to the module source in case there is no attached files, req.files is null, so you need to check whether req.files object or not.

Quick Example:

[code]

[2019-09-10 05:15] RomanBurunkov commented on #158
One thing I'm not sure that rename throws an error in case of different partitions.
As far as I remember it doesn't do that and that is the reason why code had been changed to use copy instead of rename.

Do you now something about that?

[2019-09-10 11:24] RomanBurunkov commented on #155
Hi @Truth1984 ,

I've published 1.1.6-alpha.1 version, where I've added cleanup function if upload was aborted because of file size limit.

[2019-09-10 12:22] yatindratailor opened #160 "Getting issue after updating to 1.1.6-alpha.1"
/project/server/node_modules/express-fileupload/lib/processMultipart.js:86
    debugLog(options, `New file opload ${field} -> ${name}, bytes: ${getFileSize()}`);
                                         ^

ReferenceError: field is not defined
    at Busboy.busboy.on (/var/www/html/malta_react/server/node_modules/express-fileupload/lib/processMultipart.js:86:42)
    at Busboy.emit (events.js:189:13

[2019-09-10 13:35] LucasPenen commented on #159
Thanks @RomanBurunkov but I sending a file with the following form (like the example) and that's not working.

				<form action="http://localhost:3000/upload" method="POST">
					<label for="nro_orden">Order number</label>
					<input type="text" id="nro_orden" name="nro_orden" class="input-line">
					<label for="token">Token</label>
					<input type="text" id="token" name="token" class="input-li

[2019-09-10 13:48] RomanBurunkov commented on #160
Hi @yatindratailor ,

I've fixed that and published alpha.2.

[2019-09-10 13:51] RomanBurunkov commented on #158
Hi @anneb ,

Thanks for checking that!
I'm going to merge that fix tomorrow morning.

[2019-09-10 14:28] #158 closed

[2019-09-10 21:48] afwn90cj93201nixr2e1re opened #161 "Option for disable md5 generation"
Can you add it?

My config:
[code]

[2019-09-10 21:49] afwn90cj93201nixr2e1re commented on #161
@RomanBurunkov ping.

[2019-09-10 21:52] afwn90cj93201nixr2e1re commented on #161
Also few questions.
Should i use const for uploading constructor for specific route on prod?

[code]
(В общем напишу на русском, в js обычно объекты типо статические, если 20 пользователей одновременно начнут загружать 20 файлов, в случае с глобалкой uploadHandler они не вылетят все на fileSize лимите? Или оно для каждого пользователя опять же в случае с uploadHandler создаст свой инстанс(песочниц

[2019-09-10 21:58] afwn90cj93201nixr2e1re commented on #161
One more, could you change type of responseOnLimit to string, or add to limitHandler description that we should use this function for setting some response when fileSize is more than limits, coz now it's confusing little bit, coz seems like we should clean some stuff here on useTempFiles: false and also send response.
![изображение](https://user-images.githubusercontent.com/9306996/64653350-49ebf1

[2019-09-10 22:27] afwn90cj93201nixr2e1re opened #162 "Add file header parsing"
It's can be very helpful, so, with png we have
![изображение](https://user-images.githubusercontent.com/9306996/64654693-14e19d80-d43b-11e9-9a08-52ce2f0a1dd4.png)
this bytes ![изображение](https://user-images.githubusercontent.com/9306996/64654715-27f46d80-d43b-11e9-9b11-82093ae2066a.png)

So, we can just decline all request on not allowed filetype.

Я думаю ты можешь создать коллбек который будет

[2019-09-10 22:32] afwn90cj93201nixr2e1re commented on #162
https://github.com/sindresorhus/file-type/blob/master/index.js#L56 example of file type getting.

[2019-09-11 04:27] RomanBurunkov commented on #160
I believe that was fixed in alpha.2

[2019-09-11 04:27] #160 closed

[2019-09-11 04:42] afwn90cj93201nixr2e1re commented on #162
https://github.com/expressjs/multer/issues/155

[2019-09-13 08:43] #156 closed

[2019-09-15 02:28] #162 closed

[2019-09-15 02:28] #161 closed

[2019-09-17 06:57] vinton-dev opened #166 "How to retrieve fields ?"
app.post('/uploadfile',  function (req, res) {

console.log(req.files.filesname) // able to read file but unable to read fields here
// how to read form fields here?
}

[2019-09-17 09:01] vinton-dev commented on #166
@RomanBurunkov  Thanks man it's working

[2019-09-17 09:01] #166 closed

[2019-09-18 04:59] RomanBurunkov commented on #149
Not a module issue, for huge files only useTempFiles:true works.

[2019-09-18 04:59] #149 closed

[2019-09-18 08:46] RomanBurunkov commented on #142
Thanks @Binary-Eater,

that has been corrected.

[2019-09-18 08:46] #142 closed

[2019-09-18 11:25] RomanBurunkov commented on #148
Added PR for that issue #168

[2019-09-19 04:42] RomanBurunkov commented on #141
One thing I noticed in the code above that mv file method is calling with await and also a callback.
In case you pass a callback to mv it doesn't return a promise.

Closing since it's not a module issue.

[2019-09-19 04:42] #141 closed

[2019-09-19 05:27] RomanBurunkov commented on #34
Closing that since no updates here for a while.

[2019-09-19 05:27] #34 closed

[2019-09-19 05:29] #147 closed

[2019-09-19 05:55] RomanBurunkov commented on #155
In 1.1.6-alpha.5  there is also new timeout check added for incoming data.
If no data comes during dataTimeout(default is 60000 msec ), middleware invokes cleanup method which close temp file stream and then delete temp file.

[2019-09-19 05:57] RomanBurunkov commented on #148
New version 1.1.6-alpha.5 published.
It cleanup temporary files(close stream and delete a file) if there were no data during uploadTimeout(default is 60000 msec).

[2019-09-20 07:33] #148 closed

[2019-09-26 06:12] shadab14meb346 commented on #10
I tried and it is working for multiple files upload using for loop like req.files.uploadedfile.lenth is giving the number of the uploaded files, but when I am uploading only a single file then req.files.uploadedfile.lenth is coming as undefined and with this my for loop logic to upload file is not working in case of single upload.

[2019-10-03 15:24] RomanBurunkov commented on #10
Hi @shadab14meb346 ,

If you upload single file, middleware adds an object, not an array so there is no 'length' parameter.
You need to check whether you got an array or just a single object.

[2019-10-13 16:52] mrtndimitrov opened #170 "Running out of memory even with useTempFiles=true"
I am trying to 2GB files but the node process runs out of memory. The useTempFiles option is set to true and I was hoping this would mean that the upload file will be written in chunks to the temp file. Any idea why this is not the case? Thanks.

[2019-10-15 05:10] RomanBurunkov commented on #170
It’s hard to say anything about your issue since there is no details.

Clarify the following:

Which system: 32 or 64 bit
Middleware, and node version
Turn on debug and show output.

[2019-10-15 05:59] mrtndimitrov commented on #170
Hi and thanks for looking into it! I am on 64 bit Windows 10 machine. Node version is 10.16.3. ExpressJS - 4.16.2 and express-fileupload - 0.4.0. I initialize the middleware with:

[code]

Trying to upload a 3GB file results in the following error:

[code]

[2019-10-18 04:46] RomanBurunkov commented on #170
0.4.0 doesn’t support temporary files, you should try the latest version 1.6.5

[2019-10-21 05:14] RomanBurunkov commented on #170
I believe this can be closed.

[2019-10-21 05:14] #170 closed

[2019-10-21 12:02] mrtndimitrov commented on #170
Hello, I am sorry. I didn't notice I am using such an old version. I wonder why it installed this particular one. I just ran `npm install --save express-fileupload`. Anyways, thanks for clarifying this to me.

[2019-11-06 12:25] adrianovieira opened #172 "Denial of Service by npm audit"
This is a npm audit report for stable version like the last one: 1.1.5

Read more on https://www.npmjs.com/advisories/1216

[2019-11-06 13:35] RomanBurunkov commented on #172
Has been fixed in 1.1.6-alpha.6

[2019-11-07 13:42] bmoers commented on #172
how stable is 1.1.6-alpha.6?

[2019-11-07 17:43] RomanBurunkov commented on #172
@bmoers ,

That is a good question.
Test coverage quite high and I don't have any issues and there is also no new issues on github, so I believe it is ok.

[2019-11-11 18:46] gregbown opened #173 "Works with csurf [Documentation]"
Thank you for creating this library! It was quick and easy to implement compared to the other options out there.  Connecting to route handlers is very straightforward. Showing my appreciation by giving back to the community with some documentation on how it can be used with csrf tokens.
Example [gist here](https://gist.github.com/gregbown/040521b2ab6d549e8ab59184ef942a10)

[2019-11-11 20:00] #173 closed

[2019-11-12 11:59] rapomon opened #174 "When will the final version of 1.1.6 be published?"
The last 1.1.6-alpha.6 is from 2 months ago.

Thanks!

[2019-11-12 16:51] RomanBurunkov commented on #174
Hi, 1.1.6-alpha has been published 21 days ago, not 2 months ago.

I don’t have any particular eta for new release...may be during month.

[2019-11-12 18:32] rapomon commented on #174
Ok, sorry, I though it was 2 months ago.

Thank you so much!

[2019-11-18 20:39] gbailey4 opened #175 "TypeScript example"
I'm looking to use this in a TypeScript project and am running into issues. When using the example from the readme, I end up getting the following error when trying to test the mimetype:
[code]

Does the team have an example of working with this library and TypeScript I can follow to get some direction?

[2019-11-18 22:28] gbailey4 commented on #175
This is an issue with me being new to TypeScript. If anyone needs to solve this here is how I did:

[code]

[2019-11-18 22:28] #175 closed

[2019-11-19 10:22] RomanBurunkov commented on #172
Published 1.1.6.

[2019-11-19 10:22] #172 closed

[2019-11-19 10:26] RomanBurunkov commented on #155
Fixed:

1. Upload timeout added
2. Cleanup temp files if limit reached.

[2019-11-19 10:26] #155 closed

[2019-11-19 11:22] bmoers commented on #172
how come?
https://www.npmjs.com/advisories/1216/versions
Affected
1.1.6 an hour ago
Unaffected
1.1.6-alpha.6 a month ago

[2019-11-19 20:51] RomanBurunkov commented on #172
Hi, see update from npm team:

Hi,
Thank you for contacting the npm security team. It was a human mistake and is now fixed. We really appreciate the heads up!

Regards,
Andre E
npm security team

[2019-11-20 01:00] Maxwell2022 opened #181 "1.1.6 is broken"
It looks like busboy events are not being triggered and `next()` is never called. The file is uploaded but the next route is never called and so the upload hangs forever.

We were using alpha-5 before to update and everything was working fine

[2019-11-20 01:01] #181 closed

[2019-11-21 07:36] RomanBurunkov commented on #153
Hi @wbulot ,
Have some time to look deeper into your issue and first of all, it looks that you should check user auth and close connection before upload started.

That mean if you were using this middleware like this:

`app.use(fileUpload());`

You need to add some auth staff before, so it should be like this:

[code]

Question about huge files.
Firstly if u need to check file size before upload c

[2019-11-23 14:53] eddex commented on #154
Here's an example that worked for me
[code]

[code]

[2019-12-08 20:27] Leoudayan opened #183 "Req.Files = Undefined in MVC"
Hi, i am getting undefined error when i send a file to server. I am using the same code in the example project.  Should i declare any express-fileupload in my model file?

[2019-12-09 17:19] Leoudayan commented on #183
There was a mistake in my declaration and its been resolved now.

[2019-12-09 17:19] #183 closed

[2019-12-10 06:22] szilvasics opened #184 "file write timing issue"
I found an error in the "file-flow":

MW config:
app.use(
  fileUpload({
    useTempFiles: true,
    tempFileDir: "/tmp/",
    debug: true,
    safeFileNames: true
  })
);

The file seems OK when I check with:
if (Object.keys(req.files).length == 0 || !req.files.file) {
   return  console.log("No file uploaded.");
}

but sometimes, I get an error when I try to move the file to a new path
{ [Error:

[2019-12-10 11:31] RomanBurunkov commented on #184
Hi,

That is interesting, can u share middleware debug logging for the issue, when u do that without timeout?

Also could u clarify whether /data and /tmp located on the same fs and what type of hardware u are using when getting this issue.

[2019-12-11 06:25] szilvasics commented on #184
Hi,

I'm using Docker on Ubuntu 18.04 host.
The container come from node:lts-alpine
/data folder is a local folder on host, disk formatted to ext4 and folder attached to container fs
/tmp is created by container default

before timeout fix, the debug log was something like that
Uploaded 12537 bytes for  file customersync_19_1210_0612_25.xml
Error in file moving { [Error: ENOENT: no such file or di

[2019-12-12 04:32] RomanBurunkov commented on #184
The output you showed up looks strange for me, what version of middleware you are using?

Answering your question about callback immediate start.
I can't see any ways that can happens without any errors during upload...

[2019-12-12 06:45] szilvasics commented on #184
I'm using
express-fileupload@1.1.3-alpha.1
express@4.16.4

[2019-12-12 07:38] RomanBurunkov commented on #184
There were several changes in file handling since 1.1.3.
Try the latest 1.1.6 and post debug log if issue still appears with1.1.6 version

[2019-12-13 16:58] thammarith commented on #33
In my case, it turned out that I haven't created the folder `uploads/`.

If you encounter this, try `console.log(path)` and make sure that you have that directory created.

[code]

[2019-12-24 21:27] 7iomka opened #185 "How to pass additional parameters to .mv method? Like { mkdirp: true }"
Hi.
Without possibility to pass additional parameters to mv method i got errors, because output path not exist. MV lib for example have params `mkdirp: true ` and that create recursively needed folders if not exist.
Currently workaround is only with use tmp files like that
` mv(path.resolve(rootPath, tempFilePath), path.resolve(rootPath, `src/assets/${mId}/${name}`), { mkdirp: true }, err => {})`

[2019-12-25 07:29] RomanBurunkov commented on #185
I didn't quite catch the code you posted, but from the issue description, I believe you are asking about this option: createParentPath.

You should specify it in the middleware options like this:

[code]

[2019-12-25 08:40] RomanBurunkov commented on #184
Hi @szilvasics , any updates about this issue?

[2019-12-25 10:00] 7iomka commented on #185
Oh. my carelessness, sorry!
But still, as for me, this option should be enabled by default!
Thanks!

[2019-12-25 10:00] #185 closed

[2020-01-02 09:13] Ks89 opened #187 "Not working after upgrade to 1.1.6 in integration testing with mocha and supertest"
I'm having a weird issue after upgrading from 1.1.5 to 1.1.6.
I can't share the code, because it's closed and copyrighted but I'll try to explain a little bit the situation.

I'm having this issue while running tests with mocha and supertest.

This is my env:
macOS Catalina 10.15.2
iTerm2 with zsh as terminal
nodejs 12.14.0 and npm 6.13.4
All node modules are updated to the latest versions.

**If

[2020-01-02 09:14] Ks89 commented on #187
some tests fails with the error above, but others with this one:

[code]

[2020-01-02 09:22] Ks89 commented on #187
Probably it's something related to file uploads as "Buffer".
With supertest, it seems impossible to specify a file name.

[2020-01-02 21:37] r3nderer commented on #181
Why is this closed? The issue persists.

[2020-01-02 21:40] r3nderer opened #188 "1.1.6 is not calling next()"
In reference to this persisting issue: https://github.com/richardgirges/express-fileupload/issues/181

[2020-01-02 22:09] #188 closed

[2020-01-03 11:32] caritasverein commented on #184
We encountered a similar issue in our application and tracked it down to the fact, that the middleware does not wait for the tempfile to flush / finish.
As the upload-files stream ends (https://github.com/richardgirges/express-fileupload/blob/master/lib/processMultipart.js#L80), the output-files stream is ended as well through its complete function (https://github.com/richardgirges/express-fileupl

[2020-01-03 16:07] Naterra commented on #75
What if there more than 1 file? for example 20+? And each should have extra parameter for the title.
It will be silly to make
formData.set("files", files);
formData.set("extraImageTitles", [...]);

I think, we should have a way to pass extra parameters for each file.
Any suggestions?

[2020-01-06 02:05] JackHull commented on #187
I'm encountering the same error. When in debug mode on a local machine, everything works fine. When running the application as production inside a Docker container, I get this exact error message. I have been using the latest version, will try downgrading to 1.1.5 now.

[2020-01-06 20:11] RomanBurunkov commented on #184
Hi @caritasverein ,

Thanks for your investigation.

Could you also clarify which version of middleware you use and if it's the latest one share the output when debug option set to true.

[2020-01-06 20:13] RomanBurunkov commented on #187
Hi @Ks89 ,

From trace you shared it looks that you send empty file name.
Did I understand that correct?

[2020-01-06 20:25] RomanBurunkov commented on #187
I have two ideas  regarding to this issue:

1. Set name to empty string if it hasn't been set.
2. Set name to temporary file name like tmp-1-15464564546456

[2020-01-06 21:53] Ks89 commented on #187
Yes, probably it's because I didn't set the name, but the problem is that I don't know how to set the name in case of integration testing with supertest. Filename is something in the header of the request?

[2020-01-06 21:59] r3wt commented on #187
yes, filename is embedded in opening bytes of the file, typically referred to as the file header.

On Jan 6, 2020 3:53 PM, Stefano Cappa <notifications@github.com> wrote:

Yes, probably it's because I didn't set the name, but the problem is that I don't know how to set the name in case of integration testing with supertest. Filename is something in the header of the request?

—
You are receiving t

[2020-01-06 22:04] Ks89 commented on #187
Do you have any suggestion about the name of this header to set it manually into supertest?

[2020-01-08 06:49] somewind commented on #184
i meet the same bug with Docker Centos.

[2020-01-13 17:42] The12MT opened #190 "Ä ö and ü will be replaced with ? on upload"
Hey what's up :)
Ä ö and ü will be replaced with ? on upload.

[2020-01-17 19:57] pdumais commented on #184
I just had that same problem. I was moving the file using process.exec("mv ...") (because mv() was broken in my old release). The file would get moved but it was 0 bytes.  If I add a sleep before moving, everything is fine.  and I've seen that repeatedly but only on one system.

I think the file should get flushed before calling next(). Or maybe do a validation of the file size/existance before pr

[2020-01-19 07:24] somewind commented on #184
I released a package called `express-fileupload-temp-file` to temporarily fix it.

[2020-01-20 12:56] pdumais commented on #184
@RomanBurunkov are you ok with @somewind's PR? Or were you thinking about another solution?

[2020-01-28 10:12] RomanBurunkov commented on #184
@pdumais

I have some doubts about it, but still haven't had a chance to look into because of having no free time =(

[2020-01-30 21:57] hasnat opened #191 "option to not create 0 bytes tmp files"
Currently if no file is specified on form, this middleware creates a 0 bytes tmp file

[2020-02-10 15:52] aa947 commented on #54
I have the same issue, solved by adding the public to the path.
and if you start with __dirname make sure to navigate to the specific folder.
because __dirname here points to this folder, not the root folder

[2020-02-11 11:44] splitice opened #192 "Write Timing Crash"
[code]

It appears that it's possible for dataHandler to get called after cleanup, perhaps a check would be a good idea?

[2020-02-12 18:09] 1vipulp opened #193 ".mv method is not waiting for execution"
I am using .mv method to move files from one location to another, after that file which is at new location is being used for further processing.

In most of the case, it is working properly, but sometime before moving file to new location, it is going to be used for other execution.

Can I do await or any other process for .mv method ?

[2020-02-13 16:16] richardgirges commented on #193
The `mv` function returns a Promise in the event that you do not pass the callback argument. So you can simply use the `await` keyword while executing `.mv`. Example:

[code]

Note this will NOT work if you are using callbacks: `file.mv('/some/dir/path', (err) => { })`

[2020-02-13 16:16] richardgirges commented on #193
Marking as closed, please let me know if you need further assistance.

[2020-02-13 16:17] #193 closed

[2020-02-14 10:11] somewind commented on #184
I have changed according to what you said. Please check the final PR

[2020-02-14 16:26] 1vipulp commented on #193
Thanks, I got it.

[2020-02-16 22:31] wbulot commented on #192
I have an app with pretty high upload traffic and I have the same error regularly.
I don't know exactly when it happens.

[2020-02-20 10:11] dayney opened #197 "dont use mv function in mac run"
"errno": -2,
  "code": "ENOENT",
   "syscall": "open",

[2020-02-20 13:50] softwaresolution357 opened #198 "file value not a null"
If I don't want to upload any file, I got an error "file  value n't a null", How can I solve this issue

[2020-02-21 06:43] RomanBurunkov commented on #198
Hi,

Description is not quite clear.
Please elaborate your question.

[2020-02-21 06:44] RomanBurunkov commented on #197
What does that mean?

[2020-03-10 06:57] moghthalkushal commented on #198
@softwaresolution357 do you mean to say "req.files" is undefined when you try to upload a file via postman ?

[2020-03-13 18:54] zzxoto opened #200 "README.md file doesn't mention uploadTimeout option"
`uploadTimeout` option defaults to 60000 in the source code, which is missing from the list of options specified in README.md file.

[2020-03-13 18:57] zzxoto opened #201 "Unused option in the list of DEFAULT_OPTIONS"
`fileHandler` option defaults to false in the source code, but isn't used anywhere in the source code. Defunct option perhaps.

[2020-03-13 19:05] zzxoto opened #202 "when file.on('data') event timeouts, the case isn't handled properly."
Steps to reproduce.

use following options
[code]
Following error is logged:

[code]

What i gather is that temp file gets closed in a timeout, and upon next `data` event, trying to write on previously closed temp file creates this crash.

[2020-03-16 14:11] kobe-bogaerts commented on #188
I have the same issue. This issue has been in this package all the way back to 1.0.0 as far as I have tested.

[2020-03-17 13:33] EngAhmedMahmoud commented on #197
@dayney @RomanBurunkov I have the same error but after updating the path for the uploaded directory it's working fine
[code]
[code]

[2020-03-22 07:47] asadalien commented on #54
not working directories are created but still image is not moving to the directory

[2020-03-23 16:52] softwaresolution357 opened #204 "By using Express-fileupload library ,Upload image to AWS S3 bucket"
Hi sir,
any one please help me, by using express-fileupload library, I want to upload my file and image to AWS S3 bucket.

[2020-03-24 01:01] softwaresolution357 commented on #198
yes

[2020-03-24 01:10] moghthalkushal commented on #198
Can you share the detailed steps followed by you while you are uploading ?
Seems like you are missing something.
Whenver you post a file from postman
![image](https://user-images.githubusercontent.com/5137212/77377747-c6d12d80-6dbf-11ea-8a76-6ae86eb182b0.png)

Use the above approach (preferred)
https://stackoverflow.com/questions/4083702/posting-a-file-and-associated-data-to-a-restful-webservice-p

[2020-03-27 02:10] Shahmeerm commented on #184
@somewind

We recently hit the same error when API benchmarking start for our project. Almost 13% of the times file uploads fail with the error `Error: ENOENT: no such file or directory, open '/tmp/tmp-4-1585274797122'`

We see that your commit has been merged. We are on 1.1.6.

NPM Registry suggests that 1.1.6 updated 4 months ago. How can we access your fix ? Please guide.

[2020-03-27 08:34] asarycx opened #205 "CORS Blocked Access-Control-Allow-Origin when using mv() function."
I've read #30 didn't really helped much. so basically all of my request went okay except this one, that happens to have file upload,

```Access to XMLHttpRequest at 'https://api.example.xyz/api/post' from origin 'https://app.example.xyz' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.```

the error seems to come from this this code
[co

[2020-03-31 04:06] #205 closed

[2020-04-01 14:45] Shahmeerm commented on #184
@RomanBurunkov  Can you please guide ? I have placed a comment 6 Days ago.

[2020-04-01 22:11] scryan7371 opened #206 "Files not populated and debug not logging any information"
I am trying to use express-fileupload to gain access to an uploaded file. I have created a simple test application to try and debug the issue.  I get an empty req.files object but the data is clearly in the body.  I have included the configuration and the endpoint code.  I am using

"express": "4.17.1",
 "express-fileupload": "1.1.6",

**My Configuration**

`
const app = express();

app.use(morgan

[2020-04-02 18:14] larsandersson-ifpi commented on #184
Having same problem.
anyone that can suggest a replacement for express-fileupload?

[2020-04-03 06:20] RomanBurunkov commented on #187
PR #207 fixes this issue.
Now parseFileName function return a temporary file name if no file name specified.

[2020-04-03 06:20] #187 closed

[2020-04-03 06:38] RomanBurunkov commented on #206
You should check on client side that it sends a multipart form data.
I can't see consequent header in your output.

[2020-04-03 06:40] RomanBurunkov commented on #201
Hi, that is for future purpose.
Work on fileHandler is still in progress.

[2020-04-03 06:40] #201 closed

[2020-04-03 06:53] RomanBurunkov commented on #184
Hi there,

Going to publish into npm 1.1.7-alpha.1 with @somewind  fix for this issue.

[2020-04-03 11:45] RomanBurunkov commented on #204
Not sure how express-fileupload can help with that.

[2020-04-03 11:50] RomanBurunkov commented on #197
Closing since no details provided.

[2020-04-03 11:50] #197 closed

[2020-04-03 11:51] #184 closed

[2020-04-03 11:54] RomanBurunkov commented on #192
@splitice , do you have a particular steps how to reproduce that issue?

[2020-04-03 13:04] RomanBurunkov commented on #191
According to the source code, temp file could be created only in case file event came from busboy.
Could you please elaborate this issue, do you have a code example, debug output?

[2020-04-03 16:18] hasnat commented on #191
I recall the case was where I had a form with like 20 file upload buttons, I only chose 1 file for upload and left others as is. On hitting form submit I had 19 0 byte files in temp folder with 1 file the one I chose before submit.

File uploads are optional on our application. 0 byte temp files however are always created.

[2020-04-03 22:52] scryan7371 commented on #206
Here are the relevant parts of the request.  I am seeing the document in the body however it is not showing up in request.files and there is not logging from your code.   As you can see the file is very large
  Any ideas??

`complete: true,

`

[2020-04-03 23:16] scryan7371 commented on #206
It turns out that we are deployed on Google Cloud functions and they are modifying the request so none of the solutions work.  UGH...... I will close this

[2020-04-03 23:16] #206 closed

[2020-04-05 20:32] richardgirges commented on #204
Hi @softwaresolution357 - agree with Roman on this one. What would be useful is if you looked up an AWS node tutorial for how to handle uploads to S3.

This tutorial appears to cover AWS and express-fileupload, it might be of interest to you: https://medium.com/@snrsdev/mern-stack-aws-s3-express-fileupload-objectid-based-file-upload-for-profile-post-and-comment-acf386b5bb48

I hope this helps! Clo

[2020-04-05 20:32] #204 closed

[2020-04-06 06:43] RomanBurunkov commented on #202
Have added a checks to not start a timer in case of zero uploadTimeout.

'[ERR_STREAM_WRITE_AFTER_END]: write after end' it is the same as #192.

[2020-04-06 06:43] #202 closed

[2020-04-06 08:45] RomanBurunkov commented on #192
Add flag for this.
Should be resolved in 1.1.7-alpha.2.

[2020-04-06 08:45] #192 closed

[2020-04-06 09:07] RomanBurunkov commented on #191
Hi @hasnat ,

Thanks for clarification.
I was able to reproduce that and looking into it.

[2020-04-06 09:15] RomanBurunkov commented on #191
Example debug output:

[2020-04-06 09:30] RomanBurunkov commented on #191
Hi @richardgirges , looks busboy fires file event even for empty form file fields.
Currently the only idea I have is to not open temporary file write stream until first data chunk came.

Not sure whether option needed for such case.

[2020-04-06 11:15] splitice commented on #192
@RomanBurunkov  Regarding steps to reproduce it is a race condition. I'm not sure you could create such a thing.

You could however stress test it and get it to occur I suspect.

What can be said for sure is that if you run a site with real world traffic this occurs regularly.

[2020-04-07 10:31] RomanBurunkov commented on #191
See PR #210

[2020-04-07 10:43] RomanBurunkov commented on #198
Closing since no activity from the issuer.

[2020-04-07 10:43] #198 closed

[2020-04-07 10:45] RomanBurunkov commented on #190
Hi @The12MT

Can you elaborate your question.

[2020-04-07 13:35] hasnat commented on #191
nice, I see PR would fix this issue, thanks!

[2020-04-07 16:29] wbulot opened #211 ""no such file or directory" when tempFileHandler.js is trying to delete tmp file"
Hi,

I notice that sometimes my node process crash with the following error :

[code]
I'm using the current GitHub version.
I don't know how to reproduce the issue.
My application handle high upload traffic. Maybe it happens only when the server is stress tested.
Anyway is it possible to check if the file exist before trying to delete it ?

Thanks

[2020-04-07 17:35] RomanBurunkov commented on #211
Do you manually removing temporary files?
It looks you do

[2020-04-07 18:35] wbulot commented on #211
I have a function that "truncate" tmp file when they are stuck (did that because of https://github.com/richardgirges/express-fileupload/issues/148)
But I don't delete them.

Could that be related ?

[2020-04-07 18:42] RomanBurunkov commented on #211
What do u mean 'truncate'?

Any way the #148 issue now resolved in the latest versions.
Middleware now have internal checks for canceled uploads and delete stuck temp files.

Please try to stop truncating.

[2020-04-07 18:45] RomanBurunkov commented on #191
Ok, I'm merging that.
And will publish update in the npm tomorrow.

[2020-04-07 18:58] wbulot commented on #211
By truncate I mean this : http://man7.org/linux/man-pages/man2/ftruncate.2.html
So basically after truncating the tmp file, it still exists but his length is 0 bytes (maybe it is then invisible for express-fileupload I don't know).

Even if https://github.com/richardgirges/express-fileupload/issues/148 fix most zombies tmp files, there is still some cases where I must delete them myself (if node o

[2020-04-07 23:03] LukeXF opened #212 "(node:18585) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"
Every so often I get `(node:18585) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated` using Node v12.13.

Please can you let me know if I'm looking in the right area or if you think this is another package throwing this warning? Any suggestion on how to fix this either way?

1. Researching this issue I see find
https://nodejs.org/api/deprecations.html#deprecations_dep0

[2020-04-08 10:29] RomanBurunkov commented on #191
Fixed in 1.1.7-alpha.3

[2020-04-08 10:29] #191 closed

[2020-04-08 10:30] RomanBurunkov commented on #211
That should be fixed in 1.1.7-alpha.3.
I've removed error throwing.

[2020-04-08 10:30] #211 closed

[2020-04-08 10:43] RomanBurunkov commented on #212
Yeap, it looks so.
Should be addressed to busboy/dicer developer.

[2020-04-15 06:43] martinharder opened #216 "Wrong type declarations?"
I try to access the properties "name" or "size" from the UploadedFile but in TypeScript I get the error:

`Property 'size' does not exist on type 'UploadedFile | UploadedFile[]'.
  Property 'size' does not exist on type 'UploadedFile[]'.ts(2339)`

The only solution is to remove `| UploadedFile[]` in line 23 of index.d.ts in @types/express-fileupload. But this can only be a temporary solution.

Thi

[2020-04-15 12:05] RomanBurunkov commented on #216
Hi @martinharder

This module doesn't have own declarations and it looks that declarations you've got has been created by:

// Project: https://github.com/richardgirges/express-fileupload#readme
// Definitions by: Gintautas Miselis <https://github.com/Naktibalda>
//                 Sefa Ilkimen <https://github.com/silkimen>
//                 Tomas Vosicky <https://github.com/vosatom>
//

[2020-04-16 08:56] Narendra93 opened #217 "TypeError: file.mv is not a function"
My version is 1.1.7-alpha.3.Can look at the issue.

[2020-04-16 09:38] RomanBurunkov commented on #217
That looks like issue in your code, not with a middleware.

[2020-04-16 09:39] RomanBurunkov commented on #190
Closing since no answer during 9 days.

[2020-04-16 09:39] #190 closed

[2020-04-16 14:40] Roman991 commented on #216
there u can find also the solution
`req.files[index:string` >> its the file name`].propertyName` >> name, mv, mimetype ...etc
so just delete the `| UploadedFile[]` at line 23 of d.ts

[2020-04-26 09:56] RomanBurunkov commented on #217
Closing this since no details had been provided.

[2020-04-26 09:56] #217 closed

[2020-04-26 09:57] RomanBurunkov commented on #216
Closing since that doesn't look like a express-fileupload issue

[2020-04-26 09:57] #216 closed

[2020-04-29 14:16] droddy opened #218 "Busboy Options Documentation"
Does anyone know where the documentation for Busboy options is? I can't find it over there.

[2020-04-30 09:44] RomanBurunkov commented on #218
Hi
You can check it in busboy docs: https://www.npmjs.com/package/busboy#busboy-methods

[2020-04-30 09:44] #218 closed

[2020-04-30 13:07] droddy commented on #218
no idea how I missed that. Thanks @RomanBurunkov

[2020-04-30 14:40] Relaxe111 commented on #156
this file from:
`let f = req.files.file;`
 files is of type FileArray and can return a UploadedFile or UploadedFile []. since mv is present only on UploadedFile interface it can be seen in union of UploadedFile|UploadedFile[]. to solve this issue i just explicitly  declared file as UploadedFile like  so:
`let f = req.files.file as UploadedFile` and problem was solved.
Hope it will help someone)

[2020-04-30 14:45] Relaxe111 commented on #216
You need to explicitly to declare field file as UploadedFile[]  like:
`const file = req.files.file as UploadedFIle[]`

[2020-04-30 14:47] Relaxe111 commented on #216
explainded litte bit more [here](https://github.com/richardgirges/express-fileupload/issues/156)

[2020-05-04 00:31] lntel opened #220 "req.files undefined"
Hey, I've been trying to upload image files using the `fetch` API and when logging `req.files` it just comes out as undefined. I've also tried using a `FormData` interface which returns null also.

Client
[code]

Server
[code]

Any guidance would be appreciated. Thanks.

[2020-05-04 16:59] omeriko opened #221 "filename in hebrew fonts"
Hi There,

We're using this highly practical package in our project, so far we've been very happy.

However today we've found out that if the client uploads a file that it's name is in Hebrew fonts the **req.files.file_param.name** field has the following gibberish value: "�� ����� �������.html"

What should we do in order to receive the actual fonts?

Thanks,
Omer

[2020-05-24 17:04] vrg-success opened #223 "Set createParentPath=true by default"
Hi, I spend to many times to understand why I get Error:

[code]

Please set value false by default for option createParentPath, I think it will help of people

[2020-05-26 22:50] emirhosseini opened #224 "req.files is null when code is deployed to a GCP Cloud Function (works fine locally)"
Deploying a simple piece of code using this package to a GCP Cloud Function results in the 'req.files' variable coming back as null. Haven't been able to determine why this is happening.

Here's a relevant GCP doc that describes doing this directly with busboy so I'm assuming there must be something in this particular implementation that's different than what the article is doing that is causing t

[2020-05-27 05:39] RomanBurunkov commented on #224
Any examples or logs?

[2020-05-27 05:42] RomanBurunkov commented on #223
Option described in the docs and it also possible that for many projects users don't need other module to create paths.
So I do not see any necessity to set it true by default.

[2020-05-27 05:42] #223 closed

[2020-05-27 05:55] RomanBurunkov commented on #220
That definitely something wrong with your post request.
With fetch you should do it in this way:

`
let form = document.querySelector('#uploadForm')
let inpFile = document.querySelector('#inpFile')
form.addEventListener('submit', async event => {
    event.preventDefault()
    const formData = new FormData()
    formData.append('inpFile', inpFile.files[0])
    fetch('http://myip/upload', {

[2020-05-27 16:17] emirhosseini commented on #224
@RomanBurunkov I updated the description and included the GCP article as well that uses busboy directly which works properly.

[2020-05-27 21:51] emirhosseini commented on #224
Could be related to the usage of temp folder in the cloud function not behaving as expected.

[2020-05-28 07:07] RomanBurunkov commented on #224
Provided trace is not enough.
Try to set option debug to 'true' and share the output along with full list of middleware options and code snippet.

[2020-05-28 11:15] RomanBurunkov commented on #220
See example below which works for me:

[code]

[2020-05-28 11:15] #220 closed

[2020-06-09 10:39] RomanBurunkov commented on #224
I've deployed test application with Google app engine and couldn't reproduce this issue.

My example app: https://github.com/RomanBurunkov/express-fileupload-example

Log output:

[code]

[2020-06-11 07:45] RomanBurunkov commented on #224
Closing this issue, since I couldn't reproduce it and haven't gotten any updates from topic starter.

[2020-06-11 07:45] #224 closed

[2020-06-11 07:47] RomanBurunkov commented on #221
Have you tried 'uriDecodeFileNames' option?

[2020-06-11 07:48] RomanBurunkov commented on #212
Closing since it's a question about a package from the deps.

[2020-06-11 07:48] #212 closed

[2020-06-17 20:01] russoedu opened #225 ".webp upload issues"
Hi,

when uploading .webp files, it looks like the extension changes and this ends up making all the next steps failing

[code]

The original file name was "02.webp".

If I try to manipulate the file, I receive an Error: EBUSY message.

With other file formats (bmp, svg, png, gif, jpg) all works

Even with "jpeg", even the same happens, the manipulation after the upload works

[code]

[2020-06-19 06:09] russoedu commented on #225
Apparently it's a general issue with uploading .webp files. The same issue happens with multer. The file is uploaded and stays "open"

[2020-06-23 19:56] koprda opened #226 "empty file issue"
uploading "empty" zero-length file end with error in both modes memory and temp file

simple reproduction - truncate test file basketball.png and run test

[2020-06-25 09:26] AlexSpelt opened #227 "useTempFiles option does not clean up after request"
## useTempFiles option does not clean up after request
The package in the current state does not have an option to clean up temporary files after the response(With an exception to an _uploadTimeout_). In my opinion, cleaning up files should be the default behaviour. My application keeps on piling up files in the temporary files folder. If the application is run in a production environment then the

[2020-06-25 13:42] RomanBurunkov commented on #227
That's sounds crazy for me.

Why middleware should cleanup folder after responding to the request?
IMHO it is up to your's app logic.

[2020-06-25 13:53] RomanBurunkov commented on #226
That is strange.
Can you turn module's debug output on and share it.

[2020-06-25 13:55] RomanBurunkov commented on #225
About the extension cutting.
Do you use safeFileNames option?

[2020-06-25 19:46] AlexSpelt commented on #227
It sounds quite logical to me that a temporary file should be temporary. Adding an option for a default upload folder next to a temp file option would be a more logical option. But that would be a breaking change for many apps using this package.

Adding an option to be able to remove an **temp**file after the request has been responded to would be a nice addition.

[2020-06-25 19:57] r3wt commented on #227
@AlexSpelt it is not possible to remove temp files in node.js. even if you unlink the file, it doesn't get deleted until the process exits. its a known issue with node.js. the most common workaround is to use `fs.truncate()` in conjunction with `fs.unlink()` to reclaim space in temp directory, with knowledge file won't be deleted until process exit.  here's an example you can use to get you starte

[2020-06-26 06:35] RomanBurunkov commented on #227
Hi @r3wt ,

I haven't faced with that node issue, could u please point me on it.

[2020-06-26 06:37] RomanBurunkov commented on #226
@koprda

I'm not able to reproduce that.
What version and system do u have?

See output from my test:

[code]

[2020-06-26 08:31] RomanBurunkov commented on #226
I was able to reproduce it.

Looking into this.

[2020-06-26 10:11] RomanBurunkov commented on #226
In case of in-memory upload this PR #15  affects empty file upload.
@r3wt , could you please elaborate #14  issue?

Since we already have the following check in processMultipart:

[code]

Do we still need that check in fileFactory:

[code]

[2020-06-26 10:43] RomanBurunkov commented on #227
@AlexSpelt , removing temporary file already included into 'mv' method of the file object.
If u don't use 'mv', you always can do it manually and I assume that is what you have in your app.

Probably in your case that is really convenient and useful, but let me put it in this way.

Logically middleware shouldn't do anything after it is done with a next.
It helps to upload files and gives you files

[2020-06-26 11:25] RomanBurunkov commented on #225
Have just tried to upload webp file.
Works ok for me, no issues.

[code]

@russoedu  I need more details about what version and software you have and also steps on how to reproduce it.
Also keep in mind option I've mentioned in my previous update.

[2020-06-26 11:28] #221 closed

[2020-06-26 11:54] russoedu commented on #225
I'm not. I'll try with it.

The upload happens normally, but if I try to rename or do any "fs" manipulation, it fails saying the file is busy.

I made an attempt with Multer and the same happened. Not sure if it's an issue with Busboy (both use it). If I stop the service and try to manipulate the file, it works normally - so, the file has been uploaded completely, but something is keeping it locke

[2020-06-26 21:18] r3wt commented on #226
@RomanBurunkov Maybe. I'm not actually sure, we might have to summon Richard to see if he knows. This was so long ago I barely remember it.

[2020-06-29 01:05] splitice opened #228 "intermittent failures with CSV upload"
Upload of icmp.csv ([icmp.zip](https://github.com/richardgirges/express-fileupload/files/4843291/icmp.zip)) with curl (approx 3/4 of uploads) results in:
[code]

[code]

This could also be a dicer bug, could you please confirm and triage?

[2020-06-29 09:49] AlexSpelt commented on #227
I think I found the issue that @r3wt mentioned. [https://stackoverflow.com/questions/48529030/nodejs-fs-unlink-not-releasing-file-handles](https://stackoverflow.com/questions/48529030/nodejs-fs-unlink-not-releasing-file-handles).

I don't store my files on the same server. My application runs on a Linux server. However, some of my files need to be processed by a windows only application. I upload

[2020-06-29 09:49] #227 closed

[2020-06-30 02:30] dalisoft opened #229 "Single file upload req.body parse?"
Hi.

Thanks for very good middleware, but can you fix bug where single upload `req.body[field]` does not income as Array, even appending `[]` does not help.

Send file + field `form.append('tags[]', 'foo')` gets `req.body.tags[]` as string

[2020-06-30 05:54] RomanBurunkov commented on #229
Hi @dalisoft ,

Could u clarify how parsing fields relates to the express-fileupload?
It only looks into fields with multipart data and store it in req.files.

I believe other fields should be parsed with something else. E.g. bodyparser.

[2020-06-30 05:57] dalisoft commented on #229
I am using body-parser.
It is works if i am using application/json.
But only for file upload i using express-fileupload but express-file upload does not gets as Array when fole is single

[2020-06-30 06:01] RomanBurunkov commented on #226
Hi @richardgirges ,  do you remember anything about issue #14 and PR #15.
I can't figure out steps how to could be reproduced.

[2020-06-30 07:37] RomanBurunkov commented on #229
The description is still vague.

You mentioned the following body property 'req.body.tags', but express-fileupload creates only req.files property.

If you have several files for the same field name it creates an array of objects.
E.g.

req.files.somefield[]

If you have only one file it creates an object: req.files.somefield.

[2020-06-30 14:23] dalisoft commented on #229
I seems i posted wrong here. I try make own middleware. Thanks for replies

[2020-06-30 14:23] #229 closed

[2020-07-07 21:06] Goldtek commented on #156
this works but what now happens in production

[2020-07-16 10:12] RomanBurunkov commented on #200
Added description for timeout option.

[2020-07-16 10:12] #200 closed

[2020-07-16 10:21] RomanBurunkov commented on #225
Hi @russoedu  have you figure out what cause the issue?
Is it related to the express-fileupload?

I was not able to reproduce any of described issues.

[2020-07-16 11:34] RomanBurunkov commented on #226
Fixed with PR #233

[2020-07-16 11:34] #226 closed

[2020-07-16 12:04] RomanBurunkov commented on #228
Hi @splitice

I wasn't able to reproduce that.
I've done 6 successful attempt.
Test system: Ubuntu 18.04 & node 12

Example output:

[code]

[2020-07-18 04:28] gb53smith opened #234 "server.js example not finding object methods"
Trying to use express-fileupload.  I can see the object using console.log but cannot access methods like name and mv

[code]
I tried the example server.js and get an error trying to find the .name method
[code]

Console output:

[code]
I can see .name and other methods but cannot access them?

###EDIT####
I got the above Javascript working but not my Typscript implementation.
Error finding .name m

[2020-07-20 07:14] RomanBurunkov commented on #225
Closing since couldn't reproduce that and didn't get response from the topic starter.

[2020-07-20 07:14] #225 closed

[2020-07-20 07:14] #228 closed

[2020-07-20 07:16] RomanBurunkov commented on #234
It works ok in pure js.
Doesn't tested with ts...probably u should try to address this to the '@types/express-fileupload": "^1.1.3' package author.

[2020-07-20 07:16] #234 closed

[2020-07-20 23:00] Plidian opened #235 "express-fileupload unable to recognize files from form using bootstrap 4"
To reproduce
1) build an html page that uses an HTML form to allow upload of files e.g.
`<form ref='uploadForm' id='uploadForm' action='/upload_grid' method='POST' encType="multipart/form-data"><span class="tekst"><label for="user">Username: </label><input type="text" name="user"/></span> <span class="tekst"><div>Provide the file</div></span> <input type="file" name="unitlist" />  <span class="tek

[2020-07-20 23:21] #235 closed

[2020-07-20 23:21] Plidian commented on #235
didn't do my due diligence like I thought I had, I missed that name was missing from the input

[2020-07-23 00:23] mechaOwl commented on #54
[code]

I had a same issue where the file was not moved to the newpath, but also did not hit the error condition.

I believe the problem is with appending the name in the move destination 'newpath'.  You should just name the directory you want to move the file to.  I made this mistake as well.  I'm not sure what the proper way to rename the file is.  It may be worth considering as an "issue" that

[2020-07-24 09:22] Notice-Jeroen-Meijer commented on #225
I have what I guess is the same issue (but different?). Environment (which I believe is unrelated, but not extensively checked): docker on ubuntu.

When I upload a json file with `{ safeFileNames: true, createParentPath: true, preserveExtension: true }` the file ends up being uploaded as xxxxj.son instead of xxxx.json. My conclusion is was that preserveExtension simply assumes the extension is thr

[2020-07-29 02:48] po6ix opened #236 "Prototype Pollution"
This module has prototype pollution vulnerablity
and it can make DOS with parseNested option.

## server
[code]

## exploit
[code]

## raw packet
[code]

Full description is in here
https://blog.p6.is/Real-World-JS-1/

[2020-07-29 18:00] #236 closed

[2020-07-29 18:07] richardgirges commented on #236
Thanks for reporting this. Fix has been applied and published to NPM: https://github.com/richardgirges/express-fileupload/releases/tag/1.1.8

[2020-07-30 15:30] shazgames1 opened #238 "Middleware doesn't prevent execution main function when file too large"
[code]
I getting errors like ```Cannot set headers after they are sent to the client``` from UploadFile function because limitHandler function has been called and responce already sent to client. How to prevent it or it's bug?

[2020-07-31 08:54] securityMB commented on #236
@richardgirges The fix can be bypassed. Instead of referencing `__proto__.toString`, one can reference `constructor.prototype.toString`.

[2020-07-31 13:01] richardgirges commented on #236
Thanks @securityMB - it has been fixed and a second deprecation notice has been posted on NPM for all prior versions.

[2020-08-05 00:44] naraphox commented on #236
https://www.bleepingcomputer.com/news/security/nodejs-module-downloaded-7m-times-lets-hackers-inject-code/ They just announced in the news about this today.. yet you claim to have fixed it 5 days ago.. love how far the news is behind on this.. thanks for the quick fix of this issue! Someone should contact the news folks..

[2020-08-05 00:54] richardgirges commented on #236
Thanks for the heads up on this @naraphox

[2020-08-05 16:27] AmazingMech2418 opened #239 "#236 Not Completely Fixed"
#236 explains a vulnerability in processNested that could result in a DoS attack. While prototype pollution specifically is fixed, you can still modify a method of an object or array.

Let's say you are using the `toString` method of the object returned by parseNested...

[code]

This will return the error
[code]

However, the `toString` method is not commonly used in plain objects since it just r

[2020-08-06 14:45] #239 closed

[2020-08-07 09:56] nusu commented on #226
I tried it, this doesn't seem fixed I'm going to fix it and push a following PR

[2020-08-19 18:12] SkyLineBot opened #242 "req.files is undefined"
Hi!

I try to use this package but when I use `req.files` that's send undefined.

My code:
[code]

[2020-08-19 18:38] #242 closed

[2020-08-25 03:44] odnarb opened #243 "MAX_EXTENSION_LENGTH causes legitimate "[filename].XLSX" files to be renamed to "[filename]X.LSX""
Try uploading an .xlsx file with this config set.

Also, pretty sure "preserveExtensionLengh" is a typo. :)

https://github.com/richardgirges/express-fileupload/blob/c7a6b9c8ca6f88bc2cfe2ad2f0881f21f629c683/lib/utilities.js#L9

Maybe I haven't tried a bunch of different options, but I instantiate the file upload middleware with this:
[code]

[2020-08-29 18:06] Code42Cate commented on #243
Hey,

I think if you use `preserveExtension: 4` it should work :)

Cheers, Jonas

[2020-08-30 18:43] westofer commented on #242
@SkyLineBot did you manage to fix it? :(

[2020-09-02 15:41] PhilHannent commented on #238
I'm not the author but looking at the code you can see that the abortOnLimit is going to send a status, which would conflict with your response and end up with the message you are seeing:

https://github.com/richardgirges/express-fileupload/blob/64587932f7adb10e41702cadade6a873b05e6ca6/lib/processMultipart.js#L75

[2020-09-02 17:35] shazgames commented on #238
So then it should call the next function after error handler function

[2020-09-04 17:36] odnarb commented on #243
Thank you that worked. I was pretty tired that night, didn't see the parseInt() at ALL. hah!

[2020-09-04 17:36] #243 closed

[2020-09-14 23:27] another-javascript-guy opened #246 "How to upload folders"
I was seeing examples of express-fileupload but i could not find a folder uploading example anyone can help me with that?

[2020-09-21 22:43] wililam444 opened #247 "When doing a long upload I get the error ERR_CONNECTION_ABORTED"
When doing a long upload, I get the error `ERR_CONNECTION_ABORTED` after approximately 220 seconds.

My API
[code]

My Client
[code]

Please help me

[2020-09-21 22:47] wililam444 commented on #247
@richardgirges do you have any idea?

[2020-09-21 23:58] wililam444 commented on #247
I solved my problem. I wasn't using 'rethinkdb_data' when starting rethinkdb.
Sample code for those who have the same problem as me
`rethinkdb -d rethinkdb_data`

If you want to start cluster mode
`rethinkdb --bind all -d rethinkdb_data &`

[2020-09-23 18:34] digster opened #248 "Get the last modified date of the uploaded file?(ctime, mtime, atime)"
I need the last modified date of the uploaded file. But on inspecting I can see that the dates are reset to the current date and time. Is there a way where we can access the uploaded file's real modified and access dates?

[2020-09-25 16:20] davvit opened #249 "File is not created on server"
Upload seem to work but i dont see any file being created.
The location of the server folder is desktop so its not restricted path.
using VSCode in admin mode.

[code]
![image](https://user-images.githubusercontent.com/4433698/94291003-9dd15700-ff20-11ea-93d1-ebe177db7b00.png)

[2020-09-25 16:27] davvit commented on #249
using the example in the example folder works...because it sets the uploadpath using __directoryPath

Example shown here is not complete
https://github.com/richardgirges/express-fileupload/tree/master/example#basic-file-upload

[2020-09-25 16:28] #249 closed

[2020-09-26 13:35] wililam444 commented on #247
Friends have had the same problem After working for 15 days, the source of the problem is "server.headersTimeout = 7200000;" you can fix it by adding this code

[2020-09-26 13:35] #247 closed

[2020-09-28 20:34] RobertoGlez opened #250 "Error: Unknown system error -122"
What meaning  this?
the full log is:
 [Error: Unknown system error -122: Unknown system error -122, close]
  errno: -122,
  code: 'Unknown system error -122',
  syscall: 'close'

this happen when I excecute .mv() function

OS: Cetos8
Nodejs: v10.21.0
express: 1.1.7-alpha.3

[2020-09-30 04:08] wolfy01 commented on #246
I have the same issue

[2020-09-30 21:04] SymbolCsaba commented on #250
#define EDQUOT.    122

It may be quota error when disk operation (mv). Or simple disk full?

[2020-09-30 21:06] SymbolCsaba commented on #248
When you upload a file you get a copy (data only + filename) of original file. You cannot reference to original one. I think it is not possible.

[2020-09-30 22:21] wolfy01 commented on #246
I've seen many examples on folder uploads, but they just loop through the contents of a folder and upload the files that were inside, instead of making a new directory containing the directory's contents.

[2020-10-10 22:13] Debdut opened #251 "Upload by JS not working"
When using the html template it works

[code]

But when I upload by JS instead of Form Submit it doesn't work

[code]
[code]

In server `req.files` is `undefined`

[2020-10-10 22:14] Debdut commented on #251
i also tried `FormData` already, doesn't work

[2020-10-11 16:40] SirCQQ commented on #251
Try changing the 'addEventListener' from "change" to "submit".

You are trying to create a FormData object and execute a fetch every time you change something in the form.

P.S.
Here ` const files = event.target.files

  const body = new FormData()
  body.append('files', files)`
Try to append `files[0]`

Hope it helps 😄

[2020-10-12 03:58] Debdut commented on #251
Nope it doesn’t work

[2020-10-15 00:57] imjordanxd commented on #238
I am also facing this problem. The response code of 413 is being sent. However, the next piece of middleware is being called.

[2020-10-15 04:27] duterte commented on #251
This thing has not been fixed yet ?

[2020-10-15 04:29] richardgirges commented on #251
I need to see your server code. It sounds like you are not loading the express fileupload middleware properly.

[2020-10-15 04:47] duterte commented on #251
I'm having this the same scenario in which I need to upload file (Images for instance) using fetch API, but looks like it was not supported yet.

[2020-10-15 04:52] richardgirges commented on #251
I cannot help without seeing your node code. All I know is that it “doesn’t work” but I have no code or reproducible issue to go off of. Please provide code showing your issue so that I can assist.

At the moment I am able to upload code just fine with JS and all of our tests are passing.

[2020-10-15 05:14] duterte commented on #251
This is a code snippets on front-end, which is trying to upload file using fetch API

![front-end js file](https://user-images.githubusercontent.com/16894560/96079470-6c2c2a00-0ee7-11eb-8015-847c4235d66e.JPG)

This is a code snippets on nodeJS which tries to log to the console the req.files object

![nodejs file](https://user-images.githubusercontent.com/16894560/96079640-d3e27500-0ee7-11eb-8553-b

[2020-10-15 05:40] SirCQQ commented on #251
Try this in the node file
[code]

And for the request you should use `content-type:multipart/form-data`  header so the middleware can understand that a file is sent, the default header is `application/x-www-form-urlencoded`.

You should use the specific headers for the specific request.

Hope it helps.

[2020-10-15 07:18] duterte commented on #251
Hi I just wanted all to know that the procedure provided above made by @SirCQQ  solves the problem

**Code snippets in front-end**

![front-end](https://user-images.githubusercontent.com/16894560/96089474-79521480-0ef9-11eb-8fdf-e7b232432394.JPG)

**Code in backend**

![node js](https://user-images.githubusercontent.com/16894560/96089493-7d7e3200-0ef9-11eb-8626-54a6fe86f47c.JPG)

**console log**

[2020-10-15 09:42] #251 closed

[2020-10-19 16:45] AssisrMatheus opened #252 "content-type required to have ; at the end"
The current regex at https://github.com/richardgirges/express-fileupload/blob/1216f4f0685caca7f1ece47f52c6119dc956b07d/lib/isEligibleRequest.js#L1 currently requires `content-type` to have a `;` at the end.

This used to not be true before. Is there a reason for that?

[2020-10-19 16:50] AssisrMatheus commented on #252
I realized I should NOT manually set the header `'content-type': 'multipart/form-data'` or else the boundary will not be added. And I gues that's why it requires the `;`

[2020-10-19 16:50] #252 closed

[2020-10-28 12:58] sliterok commented on #238
I guess the issue is somehow tied to sending files with speeds close to reading from disk. Anyway, should be fixed with PR.

[2020-11-02 12:41] PawelSuwinski opened #256 "UnhandledPromiseRejectionWarning: Error: ENOSPC:"
Hi

I am not sure if I am using it right (?), but just simple upload form and case of not enough space on disk gives `UnhandledPromiseRejectionWarning`:

[code]

At first glance it seams that ` Promise.all(req[waitFlushProperty]).then(...).catch(...)`  (_lib/processMultipart.js_) it is not enough to catch writeStream errors (?), but I am just at the begin of figuring it out.

Any hints?

[code]

-

[2020-11-12 15:24] visharr opened #258 "temp directory is not performing clean up"

[2020-11-15 15:43] alexconstantin opened #259 "TypeError: file.destroy is not a function"
Hello,

We sometimes get this error:

TypeError: file.destroy is not a function
--
  | 2020-11-13T13:01:02.147+02:00 | at Timeout.UploadTimer [as _onTimeout] (/app/node_modules/express-fileupload/lib/processMultipart.js:65:12)
  | 2020-11-13T13:01:02.147+02:00 | at ontimeout (timers.js:365:14)
  | 2020-11-13T13:01:02.147+02:00Copy    at tryOnTimeout (timers.js:237:5) | at tryOnTimeout (timers.js:2

[2020-11-21 13:06] westofer commented on #242
@SkyLineBot Thanks. I stopped the project :)

[2020-11-24 10:13] SebastienBtr commented on #258
@richardgirges Are we suppose to manage tempFiles delete ourself?

[2020-11-26 10:04] PavelJacobo commented on #242
How did You fix It?

[2020-11-30 13:45] megapox opened #260 "Hash algorithm"
Hi, I want to create an hash for an other file based on the same algorithm of you.
So, how do you produce the md5  (on what is based, name, size... ?)

[2020-11-30 13:57] #260 closed

[2020-11-30 13:58] megapox commented on #260
I found the answer, sorry.
The hash is based on the file Buffer for create hash like when you upload do that :
`
 createHash(path: string) {
    const data = fs.readFileSync(path); // send a buffer if file exist on path
    return crypto.createHash('md5').update(data).digest('hex'); // return hash on hex format like uploaded files
  }
`

[2020-12-02 16:41] MrToph commented on #84
Same issue here, could you figure out a solution or why did you close this? @Renari

[2020-12-02 16:45] Renari commented on #84
I don't recall, sorry. I don't even remember which project I used this for.

[2020-12-05 07:57] edisonljh commented on #224
Have faced the same issue with google cloud functions (not app engine).

It will work fine for app engine. However, from some digging around, it seems like cloud functions do process the request differently from a usual express server, hence resulting in `res.files` being undefined.

The solution that fixes this for me is to us `busboy` directly as written in this response: https://stackoverflow.c

[2020-12-15 21:15] hadedeji10k opened #261 "> @blavejr it's still not working. I already have a folder. The "mv" function executes successfully but file never uploaded to give folder. Will the be any issue with express version?"
not working directories are created but still image is not moving to the directory

_Originally posted by @asadalien in https://github.com/richardgirges/express-fileupload/issues/54#issuecomment-602161163_

[2021-01-04 08:24] amindadgar commented on #105
I'm having the same issue just on localhost
I just made a different empty project it works fine but when is tried to use it on my main project it stoped working and I'm getting null as req.files
this is my code below from main project
I'm always getting the error _cannot fetch images_ in console

[code]

[2021-01-05 19:58] jfoclpf opened #262 "Example with XMLHttpRequest, FormData and blob on frontend"
Good day, all the examples your provide on front-end relate to HTML forms, though I'm using apache cordova and thus I'm trying to upload a file as blob using merely XMLHttpRequest and FormData constructors. I'm getting desperate since `req.files` is always  falsy. I'm here around for 2 days and I can't figure out where's the problem

## Frontend
[code]

The backend was already working, thus there'

[2021-01-05 20:06] jfoclpf commented on #262
With debug option set to true I just get this line:
`Express-file-upload: Request is not eligible for file upload!`

[2021-01-05 20:16] jfoclpf commented on #262
I'm debugging now your `lib/isEligibleRequest.js` and it fails on `hasAcceptableContentType`. I'm doing my homework :)

[2021-01-05 20:32] jfoclpf commented on #262
Found it :) Man, a comma `;` in content type was missing
`xhr.setRequestHeader('Content-Type', 'multipart/form-data;')`

You should change line 1 of that file: https://github.com/richardgirges/express-fileupload/blob/master/lib/isEligibleRequest.js#L1

From
`const ACCEPTABLE_CONTENT_TYPE = /^(multipart\/.+);(.*)$/i;`
to
`const ACCEPTABLE_CONTENT_TYPE = /^(multipart\/.+);?(.*)$/i;`

Note the `?`, w

[2021-01-05 22:03] jfoclpf commented on #262
I found the issue, finally :)
No need to define content type on `XMLHttpRequest` cause it gets automatically and indeed this line was important `fd.append('file', blob, fileName)`

Now it's working. You may add this example on your folder

## Frontend
[code]

[2021-01-07 19:17] Sparks1998 commented on #156
I know I am late but hope some one find this usefull...

If you are 100% sure you are only uploading 1 file at a time then you can simply do:

`let avatar = req.file.avatar as fileUpload.UploadedFile`

This interface contains everything you need else if you want several files so you can do:

`let avatars = req.files.avatars as fileUpload.UploadedFile[]`

This will be an array of files

[2021-01-08 01:33] RayPS commented on #84
I had the same issue: the request is stuck until client timeout but not being ended with 413 while over size limit.

[2021-01-08 01:34] RayPS commented on #84
@Renari Could you re-open this for us.

[2021-01-08 01:42] RayPS opened #263 "abortOnLimit doesn't response 413"
`abortOnLimit: true` stuck the request until client timeout instead of responding 413.
Related to #84 but OP closed without solution.

[2021-01-11 23:04] willuhm-js opened #265 "cannot parse headers after they are sent to the client"
fix this before I unstar it

[2021-01-11 23:13] richardgirges commented on #265
Feel free to unstar it. I can't help you without any additional information.

[2021-01-11 23:13] #265 closed

[2021-01-11 23:15] #256 closed

[2021-01-11 23:16] willuhm-js commented on #265
I'm not feeling very well. I figured out the issue. I have some anxiety.

[2021-01-11 23:20] richardgirges commented on #263
I could use some help if you or anyone else is interested in submitting a PR to resolve this issue. Otherwise I will try to look into this over the weekend. Thanks for shedding light on #84!

[2021-01-11 23:25] richardgirges commented on #263
Just released v1.2.1 - I believe there may have been some work done to alleviate this issue. Please let me know if that's the case.

[2021-01-11 23:37] willuhm-js opened #266 "[SOLVED] Error: EISDIR: illegal operation on a directory, open '[directory]'"
Please tell me how to fix this. When I provide a directory it gives this error.  What's the solution to fix this

[2021-01-11 23:41] willuhm-js commented on #266
Figured it out

[2021-01-12 00:52] #266 closed

[2021-01-12 05:18] RayPS commented on #263
Hello, v1.2.1 doesn't fix the issue, I believe `closeConnection()`  in [processMultipart.js:86](https://github.com/richardgirges/express-fileupload/blob/da968ef0365eba4bad73909737700798d89d2ad7/lib/processMultipart.js#L86) is not working.

https://github.com/richardgirges/express-fileupload/blob/da968ef0365eba4bad73909737700798d89d2ad7/lib/processMultipart.js#L86

[2021-02-25 08:55] amitlemosys commented on #154
Thank you It worked for

Thank you!! it worked for me.

[2021-04-12 21:13] thegregthomp commented on #216
@Relaxe111 I'm just seeing this but your example didn't help. Not sure if something changed. The only way I can get this to work is to remove the ` | UploadedFile[]` from the types definition.

[2021-04-12 21:13] thegregthomp commented on #216
@martinharder I know it was a long time ago but did you ever find a workaround?

[2021-04-12 21:16] r3wt commented on #216
@thegregthomp try `const file = req.files.file as UploadedFile;` if `file` is a single file and not an array of uploaded files.

[2021-04-12 21:24] thegregthomp commented on #216
@r3wt thanks for the timely response. I've tried this and get:

`const attachedFile = req.files.attachment as UploadedFile;`

[2021-04-12 21:28] thegregthomp commented on #216
@r3wt I saw another suggestion using `fileUpload.UploadedFile` but this also didn't work. I honestly can't find a way around this issue.

[2021-04-12 21:35] r3wt commented on #216
@thegregthomp you have to import/require `UploadedFile` type definition as if it were any other variable. you can try `import {UploadedFile} from 'express-fileupload';`. typescript will know to load it from the definitions.

[2021-04-12 22:02] thegregthomp commented on #216
@r3wt Thanks so much for the help, this worked. My experience with TS is limited but I thought if it was in the `@types` directory the types would be available in the global space. Is this fix to circumvented the global definition bug?

[2021-04-12 22:29] r3wt commented on #216
@thegregthomp the bug is here at Line 14
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express-fileupload/index.d.ts#L14

I am not the most proficient at typescript, nor have i used it with express/express-fileupload yet, but i think this should work to support named fields on `req.files`:

[code]

[2021-04-27 13:35] Sofronijev opened #268 "Page reloading after uploading same file"
Hi,

After a few days of bug searching, I found out that newer versions of react-scripts are making page reload when I upload the same file. I tested this with version 3.0.1, 3.4.3, 4.0.3, it only works on  3.0.1 and lower.

You can use this example to recreate the bug https://github.com/bradtraversy/react_file_uploader
Just update react-scripts to the latest version and it will start reloading th

[2021-04-28 22:57] afrancht opened #269 "Busyboy file event not triggering after express-fileupload install"
Hello,

I use busyboy to stream a file over to a route for a test, I have recently installed express-fileupload and since then my busboy.file(...) event is not firing.

I'm thinking it might be because express-fileupload wraps around it and won't allow it to work properly? If I remove express-file upload it works again.

@manuel114

[2021-05-04 16:54] trafnar commented on #258
I'm also curious about this. And wondering if it is expected that temp files have no file extension?

[2021-05-08 23:12] cristiancosano commented on #268
Check if your form has encType="multipart/form-data" attribute and post method (get and head not are eligibles.

[2021-05-15 02:53] hannzern opened #272 "Previously it was working well but today all req.files is null"
I am following the documentation by using

app.use(fileUpload({
    useTempFiles: true,
    tempFileDir: '/tmp/',
    debug: true
}))

In my request, I am logging the req.files but the return is null I have tried form-data using POSTMAN and also on my frontend javascript side but it is returning null. Previously (yesterday and before) it was working totally fine but today the req.files is always n

[2021-05-15 03:10] #272 closed

[2021-05-17 17:29] #268 closed

[2021-05-17 17:29] Sofronijev commented on #268
Looks like the issue resolved itself, I didn't change anything.

[2021-05-29 10:00] tnkemdilim opened #273 "Save temp file with file extension"
I'm proposing that we save the temp file with the file extension, considering that in some cases, one might have a logic that depends on the file extension.

Currently, when a temp file is created, it strips out the file extension as shown [here](https://github.com/richardgirges/express-fileupload/blob/da968ef0365eba4bad73909737700798d89d2ad7/lib/utilities.js#L36)

Since we have the `filename`, we

[2021-05-31 21:35] morgan-wild opened #274 "Exif data lost with the 'useTempFiles' option"
I'm using the package 'exifr' to get meta data of updated images.
Without any options, everything is ok, my files are uploaded and my backend extracts EXIF data.

But when I enable the 'useTempFiles' option, there is no way to get it.
I checked if the temp files created using this option still contain EXIF, and yes, something is probably removed after.

Any idea why?

Best regards.

[2021-06-03 11:47] mayurpunjabi commented on #84
I am having the same issue here, file upload proceeds normally even if file size is bigger than the limit

[2021-06-26 10:16] leafac opened #277 "Is it safe to use express-fileupload as a global middleware?"
The [example for express-fileupload](https://github.com/richardgirges/express-fileupload/blob/da968ef0365eba4bad73909737700798d89d2ad7/example/server.js#L9) installs it as a global middleware, but the [documentation for a similar package, Multer](https://github.com/expressjs/multer/tree/6b5fff5feaf740f249b1b2858e5d06009cbd245c#any), says that at least for that package you shouldn’t use the middlew

[2021-07-06 03:47] imjordanxd commented on #238
any updates on this?

[2021-07-07 14:33] WeskerScared opened #278 "Headers Or jQuery"
Hello I'm trying to upload a file but with authorization.
I tried with JQuery but I don't know how to send the file data! I searched if form can send a header. but it doesn't seem it can. please respond quick as possible

[2021-07-21 02:53] tanmaymishu commented on #277
I have the same question about memory usage. Let's say the server has 2GB of memory and I have a 2.1 GB FHD video that I need to upload. What would happen in that case?

[2021-07-21 03:08] tanmaymishu commented on #277
Looks like the memory issue has been addressed in #89. Using useTempFiles option should solve it:
[code]

[2021-07-21 08:15] pioupia opened #280 "Can we not upload the file to the server ?"
Hi !
Your package works really well. Unfortunately, I do not want to upload the file to my server but only kept the buffer that we do not get. Is there a function to avoid uploading files to the server ?

Thank you in advance !
Have a great day !

[2021-07-21 15:24] yossielimelech opened #281 "Question: how to access files immediately after upload (they are 0kb)"
I'm trying to access uploaded files inside the /uploads post route, I'm totally new to webdev so I'm not sure it that's even correct.
when calling pdfutils inside the Promise.all I see that the files are 0kb if I continue to debug I finally see the files with the correct size.

How should I wait for the files to finish being copied and where it is best place to put the call to pdfutils?

` for (le

[2021-07-22 08:39] #281 closed

[2021-07-22 10:06] TOcvfan opened #282 "How to remove image"
How do I remove an image from the server?

[2021-07-30 07:13] RomanBurunkov commented on #280
Remove useTempFiles option or set it to false and also do not call file.mv method.
file.data will be a buffer containing the uploaded file.

[2021-07-30 14:44] RomanBurunkov commented on #273
Hi,

But the file object has a name property and in case you need an extension it is possible to get it from the original file name.

[2021-07-30 14:45] RomanBurunkov commented on #282
Please elaborate your request.

[2021-08-02 08:49] RomanBurunkov commented on #282
Closing.
Looks it is not related to this package.

[2021-08-02 08:49] #282 closed

[2021-08-02 09:11] TOcvfan commented on #282
Express-file upload allows you to upload files, but how do I delete them again so that they don't take up space, I have seen that there is a a temperay file option, but it doesn't say how long it will be there or how to set the time..

[2021-08-03 18:03] #280 closed

[2021-08-04 06:55] RomanBurunkov commented on #282
There is no timeouts or timers for temporary files.
Mean it's up to your app logic.

Module just uploads files.
And you decide what to do with them.

But  file object has a mv method, in case of temporary files it moves file to the destination directory.

Hope it's clear now

[2021-08-10 10:35] ChenYangY opened #285 "option.limitHandler and request handler all called."
[code]

this is my test code.

it happened some error  when i uploaded an file(greater than 100kb).

Error [ERR_STREAM_WRITE_AFTER_END]: write after end

so i want  the process abort at limithandler, what should i do?

node: 14.16.0
express: 4.17.1
express-fileupload: 1.2.1
platform:  mac

[2021-08-15 13:45] leafac commented on #277
I guess the conclusion here is:

If you don’t expect to receive huge files, or a burst of small files, then use memory storage and you may use express-fileupload as a global middleware. That’s the simplest approach.

Otherwise, use file storage and only set express-fileupload as a middleware on routes that expect files and know how to clean up after themselves. That’s the slightly more complicated

[2021-08-15 13:45] #277 closed

[2021-08-24 01:01] euroclydon37 commented on #216
I'm kinda confused why `req.files.file` can be an array. To me, if multiple files were being uploaded, I would expect `req.files` to simply have multiple file names attached to it (`req.files.fileA` and `req.files.fileB` for example). Am I misunderstanding something?

[2021-09-02 02:19] Jane-Tran opened #286 "Send image data from server via post axios"
Hello everyone
I am facing a problem when sending data received from express-fileupload is I send image from client, then I receive data from req.files and I want to forward that image data to a server (using method post by axios) to identify the information, before processing it (deciding to save it or not). Has anyone handled this situation successfully, please give me code recommendations
Thank

[2021-09-09 09:47] JulienPlanchetCoineo commented on #242
If you are using a router for MVC Express, instead of app.use(fileUpload()), do router.use(fileUpload()).

[2021-09-13 23:45] Spiderjockey02 opened #287 "Folder upload"
When I upload a folder, it will only get the actual files within the folder instead of the folder aswell? Is it possible to get the folder and then inside that the files?

[2021-09-18 17:45] beauxq commented on #220
I think it would be good to put this in the "Usage" section of the readme.

The Usage should show what it looks like on both client and server.

[2021-09-21 14:44] apenasigordev opened #288 "[Question]: FileUploader Limit Option is measured in KB?"
Is the FileUploader option measured in KB or MB?

[2021-09-21 14:54] apenasigordev commented on #288
If you have an answer, I appreciate it :)

[2021-09-25 22:26] Spiderjockey02 commented on #288
bytes, for example:
![image](https://user-images.githubusercontent.com/55885015/134787379-f313fff4-c5fc-4272-a0aa-83335eeb29df.png)

[2021-09-25 22:56] apenasigordev commented on #288
tysm for responding!

[2021-09-25 22:56] #288 closed

[2021-09-29 12:49] viccabezos opened #289 "Need help, please"
Hi! first of all sorry for using the issues as a way to have some help, i've been trying to find a clear answer for more than a week and couldn´t...

i think it's easy but i have just not being able to resolve this...

so until now i was uploagind only pnj files. now i want to upload pnj and pdf... front part is working already but i have a problem in my back-end and i don't understand how to do t

[2021-10-04 14:16] jeanbmar opened #290 "Passing a Buffer body will pollute req.body when used along with `processNested`"
Proxies tend to pass multipart body as Buffer instances to express. (e.g. [@vendia/serverless-express](https://github.com/vendia/serverless-express/blob/87aa26f5395de9dc22591a817a476a006268fa73/src/event-sources/utils.js#L18) and [serverless-http](https://github.com/dougmoscrop/serverless-http/blob/f72fdeaa0d25844257e01ff1078585a92752f53a/lib/provider/aws/create-request.js#L38)).

This implementat

[2021-10-08 03:21] #290 closed

[2021-10-08 03:56] richardgirges commented on #84
Hello, can y'all share any information about your deployment setup? It's possible that if you have a load balancer, proxy, or web server routing to your express server, that the 413 error is not actually coming from the express server. This would explain why you are seeing a 413 error despite having the correct configuration for file size limits in express.

I'm going to close this issue but I wil

[2021-10-08 03:56] #84 closed

[2021-11-01 07:40] djpie123 opened #294 "undefined error"
Hi I am having a problem.
when I do file.mv...... to the folder /uploads/file.name
so when I check the folder uploads then there is nothing but a file undefined so what to do
please help

[2021-11-15 16:22] Xenope opened #295 "Unabled to delete tempFiles while using limitHandler"
We are using the tempFolder and dealing with the file size limit with the limitHandler.

We are doing some logging and then rejecting the error :
` res.status(413);
        res.json(error);`

but it's impossible to delete (`fs.unlink()`) the file currently in the temp folder.

The code that cleans up the temporaryFolder (`cleanUp()`) is never called, moreover the file is still open because the `wr